[2013-12-21 21:26] jdgeenen opened #1 "Synchronize in a background thread"
gContactSync currently runs in the main thread, making Thunderbird unresponsive until synchronization has finished.

https://developer.mozilla.org/en-US/Add-ons/Code_snippets/Threads

[2013-12-21 21:33] jdgeenen opened #2 "Switch to OAuth"
ClientLogin is obsolete and will no longer work in 2015, so v0.5 will switch to OAuth for authentication.  Google can provide a long-term token.

[2013-12-22 02:10] jdgeenen opened #3 "Add website label to contact view pane"
Website labels aren't currently in the contact view pane so it's unclear which type of website it is.  Types are only displayed in the edit contact dialog.

[2013-12-22 20:13] jdgeenen opened #4 "Add a checkbox for javascript.options.showInConsole"
Add a checkbox to the options dialog for  javascript.options.showInConsole so chrome errors are displayed in the error console

[2013-12-23 00:50] #3 closed, assigned to jdgeenen

[2013-12-23 02:29] #4 closed, assigned to jdgeenen

[2013-12-24 19:17] jdgeenen opened #5 "Create an initial setup wizard"
I've received comments that gContactSync is not very easy to setup so an initial setup wizard could make setup easier.
I'd like to finish this before releasing 0.4.

[2013-12-25 05:40] jdgeenen opened #6 "Consider opening the Accounts dialog if the user manually synchronizes and no ABs are synced"
gContactSync should probably open the Accounts dialog if the user tries to manually sync and no address books are synchronized (all disabled, the synchronized AB was deleted, etc.) but one or more authentication tokens exist (meaning they were shown the initial setup wizard).

[2013-12-25 22:59] jdgeenen opened #7 "Allow the user to choose an existing IMAP/POP3 account"
Instead of always asking for a username and password gContactSync should show a list of existing accounts or let the user add a new account.

[2013-12-28 17:14] jdgeenen opened #8 "Create a button to reset gContactSync"
Multiple users have requested a way to "reset" gContactSync and start over.  The advanced preferences tab would be a good place for this button.

This would have to:
1. Delete all gContactSync auth tokens
2. Reset all preferences
3. Clear custom AB preferences

[2013-12-28 17:45] #7 closed, assigned to jdgeenen

[2013-12-28 17:45] #5 closed, assigned to jdgeenen

[2014-01-03 03:40] jdgeenen opened #9 "Support multi-lined gd:street"
TB has two fields for street addresses.  It looks like Google handles these addresses with a newline in the gd:street value.  This should be fairly easy to implement.

<gd:structuredPostalAddress rel='http://schemas.google.com/g/2005#home' >
<gd:formattedAddress>1234 1st St NW
Apt 123
Rochester, MN 55901</gd:formattedAddress>
<gd:street>1234 1st St NW
Apt 123</gd:street>
<gd:postcode>55901</gd:pos

[2014-01-04 04:28] jdgeenen opened #10 "Move preference logging (AB and global) to non-verbose log"
I get several standard logs that don't have enough info, having the global and AB preferences would help significantly.

[2014-01-04 17:01] #10 closed, assigned to jdgeenen

[2014-01-06 02:39] jdgeenen opened #11 "Contacts without an e-mail address store a type of "home" for all future blank properties"
There was a bug with postal addresses where the type for blank properties after e-mail was stored as "home".  This is causing issues with the work postal address components and wastes space in address books.

The fix will require a one-time update of all affected contacts.

[2014-01-06 02:41] #9 closed, assigned to jdgeenen

[2014-01-06 02:41] #11 closed, assigned to jdgeenen

[2014-01-08 02:38] jdgeenen opened #12 "Twitter import no longer works"
v1 of the Twitter API is no longer supported, so gContactSync needs to move to v1.1: https://dev.twitter.com/docs/api/1.1

[2014-01-08 03:09] #12 closed, assigned to jdgeenen

[2014-01-08 03:49] jdgeenen opened #13 "Remove MySpace API support"
It looks like the MySpace developer API is just gone.  Requests return a service unavailable error and their documentation is gone.
https://www.askmyspace.com/t5/Reviewed-Feedback/Is-MySpace-Developer-dead/td-p/48101

[2014-01-08 04:23] jdgeenen opened #14 "Fully remove support for unsupported import sources"
Plaxo and MySpace completely dropped their APIs without any announcements that I can find.

They should be fully removed from Overlay.xul, the DTDs, and Import.js.
If possible update the website with a useful error.

[2014-01-10 04:17] Oxalin opened #15 "No sync on exit"
I don't know if this is intended, but it appears the latest changes I do in my address book are not always synced when I open these same contacts later. It's like if there was no sync when exiting Thunderbird.

Is it a bug or should it be seen as an enhancement?

[2014-01-20 04:13] #13 closed, assigned to nobody

[2014-01-20 17:00] jdgeenen opened #16 "Add access keys to dialogs"
Need access keys for the new account setup wizard, the preferences, and a few things in the edit accounts dialog.

[2014-01-20 17:01] jdgeenen opened #17 "Add sync direction to account setup wizard"

[2014-01-20 17:36] #16 closed, assigned to jdgeenen

[2014-01-20 17:50] #17 closed, assigned to jdgeenen

[2014-01-20 18:07] jdgeenen opened #18 "Remove Advanced Settings checkbox from Accounts dialog"
The old accounts dialog is now the Edit Accounts dialog and won't be used to create new accounts, so it should show all settings at all times.  Sync direction is more popular than I originally thought it would be.

[2014-01-20 18:14] #18 closed, assigned to nobody

[2014-01-26 20:40] jdgeenen opened #19 "Duplicate master password prompt in 0.4.0rc1"
Someone mentioned that the duplicate master password prompt was re-introduced in 0.4.0rc1.  I'm going to use this as a chance to cleanup first login code.

[2014-01-26 20:47] #19 closed, assigned to jdgeenen

[2014-01-26 21:17] #14 closed, assigned to nobody

[2014-01-27 02:32] jdgeenen opened #20 "Only update contact if synchonized data actually changed"
gContactSync always uploads contacts to Google if the TB contact was updated, even if there is no actual change to the contact (if an unsynchronized attribute changed, for example).  This contributes to 503/over quota errors.

[2014-01-27 02:33] jdgeenen opened #21 "Use batch mode"
https://developers.google.com/gdata/docs/batch

[2014-02-27 03:15] jdgeenen opened #22 "Throttle requests to mitigate 503 errors"
Several people are getting 503 errors about being over quota.  I added some code to run a test that will determine the minimum delay between asynchronous requests.  This should be enough of a delay between gContactSync's requests.

I've seen errors with a delay up to 100 ms while 120 ms appears to be enough of a delay.

[2014-02-27 03:17] #22 closed, assigned to jdgeenen

[2014-02-28 03:16] jdgeenen opened #23 ""Please login before trying to sync contacts" message when canceling the expired token prompt"
In version 0.4 canceling the expired token prompt causes a "Please login before trying to sync contacts" message which 1) isn't very helpful and 2) isn't necessary.

I believe this can be fixed by only removing the auth token on successful authentication.

[2014-02-28 03:22] #23 closed, assigned to jdgeenen

[2014-03-02 03:01] jdgeenen opened #24 "Invalid rel value on gContact:website when changing website type"
I received a log from someone who got the following error:
    [Line 1, Column 2654, element gContact:website] Invalid value for attribute : &#39;rel&#39;

The element that causes the error looks like this:
    <gContact:website xmlns:gContact="http://schemas.google.com/contact/2008" href="http://www.google.com" rel="http://schemas.google.com/g/2005#home"/>

Valid rel values are listed here (shoul

[2014-03-05 00:44] jdgeenen opened #25 "Implement log rotation"
Need to implement log rotation for debugging issues that happened before Thunderbird was restarted.  At least 1 backup would help tremendously.

[2014-03-12 03:30] #24 closed, assigned to jdgeenen

[2014-03-12 03:31] jdgeenen opened #26 "Add an option to only sync contacts with e-mail addresses"
Suggestion from Bartek:

As a suggestion to further improve the addon: consider adding an option in the settings not to sync contacts without an email address. That would avoid the ugliness of dummy email addresses. I really don't need contacts without email addresses in Thunderbird, but I have lots of those because my phone syncs with Google.

[2014-05-10 22:02] jdgeenen opened #27 "Add an anniversary field"
Add and sync an anniversary field in the Private tab.  Copy the existing TB Birthday field.

[2014-05-10 22:03] jdgeenen opened #28 "Add more people fields"

[2014-05-26 14:29] jdgeenen opened #29 "Only upload photos if the photo actually changed"
gContactSync currently updates contact photos if the contact has changed.  It should be possible to use the etag to determine if the TB photo is outdated and the timestamp on the TB contact photo file to determine if the remote photo is out of date.

A few users have commented that gContactSync replaces HD photos with lower quality photos.  This should help with that issue since the API must limit

[2014-05-26 18:04] jdgeenen opened #30 "Support custom events"
The Google contacts API supports custom events: https://developers.google.com/google-apps/contacts/v3/reference#gcEvent

[2014-05-26 20:34] #27 closed, assigned to jdgeenen

[2014-05-26 22:17] jdgeenen opened #31 "Improve people fields"
People fields should link to other contacts in the contact details pane
Provide autocompletion or a menu of some kind to choose an existing contact in the edit contact dialog.

[2014-05-26 22:20] #28 closed, assigned to jdgeenen

[2014-05-31 16:36] #29 closed, assigned to jdgeenen

[2014-05-31 21:13] #8 closed, assigned to jdgeenen

[2014-06-04 13:04] jdgeenen opened #32 "Postbox: Error while modifying view pane: TypeError: aCard.getProperty is not a function"
gContactSync is causing the following error in Postbox starting in v0.4.0rc6:

Error while modifying view pane: TypeError: aCard.getProperty is not a function

[2014-06-14 16:15] #32 closed, assigned to jdgeenen

[2014-06-15 17:45] jdgeenen opened #33 "Investigate no-restart support"
https://developer.mozilla.org/en-US/Add-ons/Bootstrapped_extensions

[2014-06-15 17:46] jdgeenen opened #34 "Investigate unit test"
https://developer.mozilla.org/en-US/Add-ons/SDK/Tutorials/Unit_testing

[2014-06-15 21:36] jdgeenen opened #35 "Accounts.saveSelectedAccount doesn't reset if username or groups option changes"
gContactSync needs to reset the address book when the groups and contacts to synchronize changes.  There's code that does this but it isn't working properly because the AB prefs are being saved with the new values before being checked.

For example, the following sequence will cause gCS to prompt the user to delete all contacts outside of "My Contacts"
1. Sync All Contacts and Groups
2. Switch to

[2014-06-15 21:52] #35 closed, assigned to jdgeenen

[2014-06-22 20:50] jdgeenen opened #36 "Preferences are only logged if the user opens the AB window"
Preferences aren't being logged if the user doesn't open the AB window.

[2014-06-22 20:52] jdgeenen opened #37 "Last modified date warning if a new TB contact has a photo"
If a new TB contact has a photo when gCS is adding the contact the following warning will be logged:

John Doe
***WARNING: Unable to get last modified date from a contact:
TypeError: this.xml.getElementsByTagName(...)[0] is undefined

As far as I can tell this is harmless since 1 will be returned which is certainly older than any contact photo.  I'd still like to fix it by returning 0 if there is

[2014-06-22 21:45] jdgeenen opened #38 "Do not POST or PUT contacts with no fields set"
Trying to POST or PUT a contact with no fields set results in the following:

***ERROR: Error while adding contact
Error Message:
Entry does not have any fields set

To recreate:
1. Create a contact in Google with no synchronized fields set (such as Internet Call).
2. Sync
3. Right-click the AB and click on Replace to server
4. Sync

[2014-06-22 22:37] #37 closed, assigned to jdgeenen

[2014-06-22 22:37] #38 closed, assigned to nobody

[2014-06-22 22:42] #36 closed, assigned to jdgeenen

[2014-06-22 22:52] jdgeenen opened #39 ""null" stripped out of contacts and groups"
com.gContactSync.serialize has a bug where it will globally replace "null" with "".
This can cause errors like the following, or delete 4 letters unexpectedly:
Referenced group doesn&#39;t belong to the same user. Should be: &#39;nullXYZ&#39;. Is: &#39;XYZ&#39;
Please report this error to gcontactsync at pirules.org (in English, if possible)

[2014-06-22 23:14] #39 closed, assigned to jdgeenen

[2014-06-23 00:50] jdgeenen opened #40 "Support plugins"
From: http://pirules.org/forum/index.php/topic,589.0.html

Hey Josh,

I'm creating a new thread for this Feature Request to make it easier to track, and will incorporate everything from the thread it originated from.

Ok, so this is a feature request to make gContactSync capable of syncing to a standard file format - like JSON, a custom XML format, or even LDIF or VCF - and then extending that cap

[2014-06-24 03:57] jdgeenen opened #41 "Warning when auto sync tries to set a custom label"
Custom labels aren't working on scheduled syncs (setTimeout vs manually syncing has different behavior for "this").  This typically won't cause any issues since gContactSync doesn't allow setting a custom label from TB but produces a warning and is a potential bug (create a website with a custom label from Google, sync, remove website from TB, sync, add a website to the same field and keep the cus

[2014-06-24 04:04] #41 closed, assigned to nobody

[2014-07-06 19:15] #25 closed, assigned to jdgeenen

[2014-07-06 23:52] jdgeenen opened #42 "Support incremental sync"
Use an incremental/fast sync when possible to save time and memory.  This will require some journaling since I don't know of a way to identify deleted contacts in TB.  The AB listener would need to insert a row with the deleted ID (needs to support multiple sync sources, maybe a JSON object with key/value pairs?) and the date it was deleted in an sqlite db.  Add cleanup of sqlite tables for delete

[2014-07-06 23:57] jdgeenen opened #43 "Import from Google+"
https://developers.google.com/+/api/latest/people/list

[2014-07-24 03:42] jdgeenen opened #44 ""null null" phonetic names added by v0.4.0rc8"
The fix for the null bug exposed an issue with how phonetic names are updated.  If there is no phonetic name gContactSync was setting the first and last name yomi attributes to "null".

Anyone exposed has to follow my instructions here to clean this state up after updating to 1.0rc1: http://pirules.org/forum/index.php/topic,600.msg1765.html#new

[2014-07-24 03:56] #44 closed, assigned to jdgeenen

[2014-07-27 16:30] jdgeenen opened #45 "Upgrade from < 0.4.0b1 not working correctly"
The upgrade to 1.0 from <0.4.0b1 isn't working correctly.

[2014-07-27 19:14] #45 closed, assigned to jdgeenen

[2014-08-01 01:06] jdgeenen opened #46 "Improve merging"
The merge on first sync is very basic and can lead to lost values in TB for fields that other add-ons do not synchronize.

There's a potential list here: http://pirules.org/forum/index.php?topic=601.new#new but I suspect photos, birthdays, anniversaries, extended properties, phonetic names, etc. are also missing.

[2014-08-03 16:03] jdgeenen opened #47 "***WARNING: Error updating card after being removed:"
***WARNING: Error updating card after being removed: [xpconnect wrapped nsIAbCard] moz-abmdbdirectory://abook-1.mab/MailList2 1406944015.486 Error Message: Invalid directory supplied to the AddressBook constructor

[2014-08-09 02:10] jdgeenen opened #48 "NS_ERROR_FAILURE when gContactSync and TB edit the same address book simultaneously"
Someone ran into an NS_ERROR_FAILURE when calling nsIAbDirectory.modifyCard.  It happened while upgrading the Collected Addresses AB.  The exact contact on which the exception occurs changes every time which implies TB and gContactSync were trying to edit that AB simultaneously.

A retry loop may help.

[2014-09-01 21:20] jdgeenen opened #49 "New anniversaries in TB are not synchronized to Google.\"
There's a bug in setValue under the EVENT type that causes gContactSync to not set new anniversaries in Google contacts.  It shows up with this message in the log:

***WARNING: Error in GContact.setValue:
ReferenceError: parentElem is not defined

[2014-09-02 00:12] jdgeenen opened #50 "Preferences textbox access keys not working"
The access keys for the preferences don't work as reported here: http://pirules.org/forum/index.php/topic,605.0.html

[2014-09-02 00:38] #47 closed, assigned to jdgeenen

[2014-09-02 00:39] #49 closed, assigned to jdgeenen

[2014-09-02 00:39] #50 closed, assigned to jdgeenen

[2014-09-02 00:39] #46 closed, assigned to jdgeenen

[2014-09-03 00:41] jdgeenen opened #51 "Create a hidden preference to not refresh the AbView after drag and drop"
gContactSync refreshes the AbView after a drag and drop because otherwise the contact appears in the view twice.  As requested here, create a hidden pref to disable this behavior: http://pirules.org/forum/index.php/topic,605.0.html

[code]

[2014-10-26 17:54] jdgeenen opened #52 "Update 0 pad for review comments"
Update 0 pad for review comments:

<TheOne> you don't need the while loop
<TheOne> and if is enough
<TheOne> and you should make sure the variable value is actually a number

[2014-10-26 18:56] jdgeenen opened #53 "Improve Postbox support"
Improve support for Postbox:
- Implement photo sync
- Support Anniversary field
- Add e-mail types?

Target release is 2.0, but I may make minor changes before then.

[2014-11-02 19:17] jdgeenen opened #54 "Import from LinkedIn"
https://developer.linkedin.com/documents/authentication

[2014-11-02 19:17] #52 closed, assigned to jdgeenen

[2014-11-02 19:18] #51 closed, assigned to nobody

[2014-11-02 19:29] jdgeenen opened #55 "Improve the Search Addresses... TB GUI"
Add more fields to the search box.

[2014-11-02 19:42] jdgeenen opened #56 "Contacts incorrectly deleted, added, or duplicated when e-mail address capitalization changes"
Just saw this in a log.  Looks like Google doesn't always return IDs with the same capitalization which can cause some serious issues (deleted, added, or duplicated contacts).  IMO this is a bug in Google's API since it changes IDs but I need a workaround.

[code]

[2014-11-27 21:47] #56 closed, assigned to jdgeenen

[2014-11-28 14:29] jdgeenen opened #57 "Implement upgrade from 1.0"
Implement re-authentication for the upgrade from < v2.0.  I'm switching from ClientLogin to OAuth2 so I'll need to force re-authentication for each account.

[2014-11-28 14:57] jdgeenen opened #58 "OAuth - handle 401 errors"
Handle 401 errors using OAuth.  Request a new refresh token.

[2014-11-28 14:58] jdgeenen opened #59 "OAuth - handle deleted tokens"
Handle deleted tokens.  Request a new refresh_token.

[2014-11-28 15:58] #2 closed, assigned to jdgeenen

[2014-12-22 13:52] jdgeenen opened #60 "Allow adding new contacts to a default mailing list"
Allow adding new contacts to a default mailing list in TB.  This could just be a drop down in the new contact dialog that is remembered from the last new contact in that same address book.

Targeting 3.0 since 2.0 needs to be released ASAP to switch to OAuth.

[2014-12-22 14:09] jdgeenen opened #61 "Allow changing the edit contact Notes field"
As requested here: http://pirules.org/forum/index.php/topic,615.0.html add a hidden pref to change the style of the Notes field in the edit contact dialog.

[2014-12-22 22:49] #59 closed, assigned to jdgeenen

[2014-12-23 00:13] jdgeenen opened #62 "Remove "New Account" button in Edit Accounts dialog"
Remove the New Account button in the Edit Accounts dialog to encourage use of the wizard and reduce duplicate code.  Edit accounts should only be used for editing accounts.

[2014-12-23 14:36] #58 closed, assigned to jdgeenen

[2014-12-23 14:49] #62 closed, assigned to jdgeenen

[2014-12-23 15:08] #57 closed, assigned to jdgeenen

[2014-12-23 15:53] #61 closed, assigned to jdgeenen

[2014-12-26 03:02] jdgeenen opened #63 "Throttle setPhoto requests"
I need to throttle setPhoto requests to avoid 503 errors.

[2014-12-26 03:07] #1 closed, assigned to jdgeenen

[2014-12-26 03:10] #48 closed, assigned to jdgeenen

[2015-01-03 14:02] jdgeenen opened #64 "Photos are not uploaded for new contacts"
There have been two reports of photos not being uploaded for new contacts.  I'll probably fix this bug in 2.0.

[2015-01-11 16:19] jdgeenen commented on #64
Looks like a duplicate of Issue #63.

[2015-01-11 16:19] #64 closed

[2015-03-22 19:03] jdgeenen opened #65 "Obsolete Extension Manager API"
From the AMO validation tool:
"Warning: The old Extension Manager API is not available in any remotely modern version of Firefox and should not be referenced in any code."

[2015-03-28 18:53] jdgeenen opened #66 "Next button in new account wizard with new account not always disabled"
To recreate:
1. Select "Use a new account"
2. Type a fake e-mail address
3. Click Next >
4. Click < Back
5. Click Next>

This can allow users to sync without valid authentication, which leads to this error:
"Warning: gContactSync was unable to find a token for one of your accounts."

[2015-03-28 18:58] jdgeenen opened #67 "AB not displayed in new account dialog after having its synced AB cleared in Edit Accounts"
To recreate:
1. Sync an AB
2. Go to Edit Accounts, set account to "None" and Save Changes
3. Open the New Account Wizard
4. Use the same account, hit next.  The AB is not present.

Looks like a case-sensitivity issue.

[2015-03-28 21:27] jdgeenen opened #68 "OAuth2 doesn't work when an HTTP server is running"
Someone mentioned that OAuth2 didn't work when he had an HTTP server running listening on port 80.
Two possible alternatives:
Change the port number (make it a pref in case the port doesn't work for some reason)
Use the urn:ietf:wg:oauth:2.0:oob redirect_uri
https://developers.google.com/accounts/docs/OAuth2InstalledApp#choosingredirecturi

[2015-03-28 21:35] jdgeenen opened #69 ""This login already exists" error when creating a new account with an identical e-mail"
To recreate:
1. Open new account wizard
2. Select New Account, type an e-mail address, and authenticate
3. Repeat 1-2

Timestamp: 3/28/2015 4:33:22 PM
Error: NS_ERROR_XPC_JS_THREW_STRING: This login already exists.'This login already exists.' when calling method: [nsILoginManager::addLogin]
Source File: chrome://gcontactsync/content/LoginManager.js
Line: 88

[2015-03-28 21:36] #65 closed

[2015-03-29 19:18] #63 closed

[2015-03-29 19:43] jdgeenen opened #70 "Remove event listeners when no longer required"
Please note the following for the next update:
1) If the addEventListener() (or JQuery .on) is used once (e.g. for 'load', 'DOMContentLoaded'), it is good practice to  removeEventListener() (or JQuery .off) as soon as its function is called and free the resources.
elem.addEventListener(event, myfunction, false);
function myfunction() {
  elem.removeEventListener(event, myfunction, false); // remov

[2015-03-29 19:59] #66 closed

[2015-03-29 20:41] #70 closed

[2015-03-29 20:42] #67 closed

[2015-03-29 21:08] jdgeenen commented on #68
Made a pref to change the port number.  80 is still the default.

[2015-03-29 21:42] jdgeenen opened #71 "Validate e-mail address before advancing the OAuth page"
Now that the e-mail address entered in the wizard is only a hint rather than being provided to Google it needs to be validated.  Otherwise gContactSync will add the auth token and will get an error during sync.

[2015-03-29 21:46] #69 closed

[2015-03-29 22:13] jdgeenen opened #72 "Close the SyncWorker when finished"
Call close() in the SyncWorker when it is finished.

[2015-03-29 22:14] #72 closed

[2015-03-31 15:25] cowwoc opened #73 "Provide nightly downloads"
I'm no longer asble to use gContactSync due to #68. This is fixed in master but I don't have the know-how (and time) to figure out how to build a local version.

Is it possible for you to provide a download link that would always serve the latest dev build in the form of a APK file we could install manually into Thunderbird?

[2015-03-31 15:30] cowwoc opened #74 "Warn if OAuth port already in use"
Following up on #68, please try checking if the configured port is already in use (at runtime) and provide a warning dialog asking the user to change the configured port. Otherwise users will have a hard time figuring out the problem. In my case, port 80 contains a web server that redirects to http://www.google.com/. I would have never figured out what was going on unless I stumbled upon #68 by lu

[2015-04-01 00:04] jdgeenen commented on #68
Going to re-implement to use the urn redirect_uri.

[2015-04-01 00:40] #68 closed

[2015-04-01 00:43] jdgeenen commented on #74
I reimplemented #68 to no longer use a redirect so this is no longer necessary.

[2015-04-01 00:43] #74 closed

[2015-04-03 18:11] jdgeenen opened #75 "Expired token dialog doesn't automatically close"
Error: TypeError: com.gContactSync.OAuth2.mBrowserElem.contentDocument is undefined
Source File: chrome://gcontactsync/content/OAuth2.js
Line: 92

[2015-04-04 18:53] jdgeenen commented on #75
I'm going to use this issue to fix two problems.  One is checking contentDocument when it may not be valid and another is the expired token dialog doesn't automatically close due to accidentally not passing a parameter to OAuth2.init.

[2015-04-04 18:56] #75 closed

[2015-04-05 01:23] jdgeenen opened #76 "Create an Import Wizard"
Use a wizard for import to simplify the import process.  Remove the experimental tag.

[2015-04-05 01:31] jdgeenen opened #77 "Twitter import not working"
When I tried to import from Twitter I saw the following message:
"Whoa there!
The request token for this page is invalid. It may have already been used, or expired because it is too old. Please go back to the site or application that sent you here and try again; it was probably just a mistake."

[2015-04-05 01:32] jdgeenen commented on #77
Looks like I just have to change the URL used for OAuth to use SSL.  Change the oauth URL in the website code to use https.

[2015-04-05 01:32] #77 closed

[2015-04-05 01:57] jdgeenen opened #78 "Find All Groups button does not work"
The find all groups button isn't exchanging the refresh token for an access token, so it gets a 401.

[2015-04-05 02:13] #78 closed

[2015-04-15 12:49] geki007 opened #79 "Updates high res photo with low res"
Hi, i have a little problem with Photos.

I did an initial sync (high-res photos)
after sync again everything is ok (nothing changed)
if i write a message to an account with a photo and sync again ... contact changed ... update data ... upload photo
... now in google i have the low res photo from thunderbird

[2015-05-13 02:47] jdgeenen opened #80 "Throttle photo downloads"
gContactSync needs to throttle photo downloads: http://pirules.org/forum/index.php/topic,644.0.html

[2015-05-27 02:54] TimMensch commented on #80
I'm not sure if it's related, but I saw a lot of photos fail to download in the log, and I'm missing a lot of contacts from a clean download/sync from Google.

[2015-05-27 20:36] digitalcircuit commented on #80
Until rate-limiting is properly implemented, it's possible to work around this issue by forcing gContactSync to repeatedly synchronize unchanged contacts every minute until all photos are downloaded.

Edit [line 102 of SyncWorker.js](https://github.com/jdgeenen/gcontactsync/blob/7c90300d7988546a31c7e04efc0827d148e6fb1f/src/content/SyncWorker.js#L102) from:
[code]
To:
[code]
Then set gContactSync's

[2015-06-08 02:09] jdgeenen opened #81 "Account setup wizard ignores sync direction"
The account setup wizard is ignoring sync direction and sets up a two-way sync.

[2015-06-08 02:30] jdgeenen opened #82 "Read-only mode doesn't take updates from Google"
Read-only mode is causing updates from Google to incorrectly be ignored.

[2015-06-08 02:44] #82 closed

[2015-06-08 02:45] #81 closed

[2015-06-10 13:04] jdgeenen commented on #80
Can anyone confirm that this is fixed in 2.0.5?

[2015-06-10 13:05] jdgeenen opened #83 "Add an option to only sync contacts with e-mail addresses"
http://pirules.org/forum/index.php/topic,661.0.html

[2015-06-10 13:30] bmatzelle commented on #80
@jdgeenen I'm a new user to gContactSync, I used [Google Contacts](https://addons.mozilla.org/en-US/thunderbird/addon/google-contacts/) previously, and I just installed 2.0.5 yesterday.  Unfortunately it doesn't load any photos for me.  I activated verbose logging and stored the log file.  Would you like me to send you part of it for debugging purposes?  I'd rather not upload the whole file here b

[2015-06-10 16:55] pcav commented on #23
I also have this problem. I keep on getting:

Error encountered while authenticating.
Please make sure you typed your e-mail address and password correctly
and that your e-mail address is valid.

I'm pretty sure my credentials are OK.

[2015-06-12 19:34] bmatzelle commented on #80
@jdgeenen So is this issue unrelated?  Should I post about it somewhere else?

[2015-06-13 06:29] S71WE commented on #80
same here on windows 7 Prof. and Linux Mint. No photos will be synced.

[2015-06-14 14:57] jdgeenen commented on #80
@bmatzelle @S71WE, could you use the report form or e-mail me the log file after turning on verbose logging? http://www.pirules.org/extensions/submit_error.php?ext=gContactSync

[2015-06-14 15:01] jdgeenen opened #84 "2.0.5 doesn't download photos if readOnly mode is set"
v2.0.5 doesn't download photos if readOnly mode is set due to a copy/paste mistake.

[2015-06-14 15:02] jdgeenen commented on #80
Just found a copy/paste mistake related to read-only mode, so if you both have read-only mode set I don't need a lot.  See Issue #85.  I'll release 2.0.6 this week with the fix.

[2015-06-14 18:42] jdgeenen commented on #84
Accidentally committed with the wrong issue number.  See 7de957f864635ea14ff180ffbaff6619c60cde9a and 8e304bf4d8918612ebfb97a91abfd0f4876c011a.

[2015-06-14 18:42] #84 closed

[2015-06-14 18:50] jdgeenen opened #85 "Ignored counts in summary are not correct"
Ignored counts in the summary information are not correct for contacts that are updated.

[2015-06-14 22:34] bmatzelle commented on #80
Thanks Josh. I'll send it to you tomorrow.

On Sunday, June 14, 2015, Josh Geenen <notifications@github.com> wrote:

--
Sent from my iPhone

[2015-06-15 03:42] jdgeenen opened #86 "New address books are lowercase"
In the New Account Wizard any newly created address book is in all lowercase.

[2015-06-15 12:24] bmatzelle commented on #80
@jdgeenen Submitted.  Thanks Josh.  Your plugin is fantastic BTW.  Well done.

[2015-06-26 17:25] jdgeenen opened #87 "Merge groups on first sync"
Need to merge groups on first sync for Google Contacts users.

[2015-06-26 17:26] jdgeenen commented on #87
http://pirules.org/forum/index.php/topic,668.msg2017.html#msg2017

[2015-08-10 01:16] jdgeenen opened #88 "Clean up SyncWorker"
Refactor SyncWorker to make it easier to maintain.  Fix minor read-only/write-only bugs in the summary.

[2015-08-10 01:22] #88 closed

[2015-08-10 01:41] #86 closed

[2015-08-10 01:55] #85 closed

[2015-08-18 12:40] rakotomandimby opened #89 "Downloadable binaries are not up to date anymore"
https://addons.mozilla.org/en-US/thunderbird/addon/gcontactsync/ publishes a 2.0.5 but in the downloads section here, we're stuck at 2.0.1.

[2015-09-01 09:24] thematicmania commented on #80
Hi. Thanks for gcontactsync. Do you know when 2.0.6 will be released addressing this mistake? Thanks.

[2015-09-01 12:55] jdgeenen commented on #80
I ran into a bug on addons.mozilla.org when trying to submit my add-on so I'm waiting for the fix to be pushed (https://bugzilla.mozilla.org/show_bug.cgi?id=1194198).  After it is submitted I'll also have to wait for it to be reviewed.

In the meantime you can find 2.0.6 here: https://github.com/jdgeenen/gcontactsync/blob/2.0/downloads/gContactSync-2.0.6.xpi?raw=true

[2015-09-01 13:03] thematicmania commented on #80
Thanks. Much appreciated.

      On 01/09/15 13:55, Josh Geenen wrote:

      I ran into a bug on addons.mozilla.org when trying to submit my
        add-on so I'm waiting for the fix to be pushed (https://bugzilla.mozilla.org/show_bug.cgi?id=1194198).
        After it is submitted I'll also have to wait for it to be
        reviewed.
      In the meantime you can find 2.0.6 here: https://github.c

[2015-09-30 12:37] jdgeenen opened #90 "Locally deleted contacts cause JavaScript errors"
From Martin:
Recently I noted an issue with the latest version that occurs when contacts were deleted. In these cases the address book doesn't synchronize. After having a look into the sources I found a typo in line 223 of SyncWorker.js:
The line
  this.mResult.contactsToDelete.push(id);
should be replaced with
  this.mResult.mContactsToDelete.push(id);

[2015-09-30 12:40] #90 closed

[2015-10-01 12:30] jdgeenen opened #91 "confirmDeleteThreshold pops up on every sync if set to 0"
http://pirules.org/forum/index.php?topic=669
Not a huge bug, especially since this is on the Advanced prefs tab, but unexpected to non-developers.

[2015-10-08 17:58] seaquake opened #92 "503 - User over quota."
Hi,
always more often i received the error of "token expired" and the "503 temporary problem - please try again later and consider using batch operations. The user over quota".

Thunderbird 38.3.0
gcontactsync 2.0.7

If there is some log that i can send to you, let me know.
![cattura](https://cloud.githubusercontent.com/assets/1249550/10375104/ef81cf00-6df6-11e5-94e2-63ab13cfa3f1.JPG)

Thanks for

[2015-11-23 01:52] jdgeenen opened #93 "Multiple new contacts are pushed the same photo"
From Andreas:

If one creates several new contacts with different photos in Thunderbird and syncs the address book with Google then, the resulting new contacts in Google contain all the same photo (the photo of the first new contact that has been synced).

The reason for the behaviour is in line 729 of content/Sync.js:
The bug is caused by this line:

One can fix this problem exchanging that line

[2015-11-23 02:02] jdgeenen commented on #80
2.0.6 has been up for a while with the fix.

[2015-11-23 02:02] #80 closed

[2015-11-24 02:31] #93 closed

[2015-11-24 02:32] #91 closed

[2015-11-24 02:34] jdgeenen commented on #89
You can find downloads for 2.0.x in the 2.0 branch:
https://github.com/jdgeenen/gcontactsync/tree/2.0/downloads

[2015-11-24 04:21] rakotomandimby commented on #89
Thank you

[2015-11-24 04:21] #89 closed

[2015-11-28 19:44] jdgeenen opened #94 "Relation4 and Relation5 are missing"

[2015-11-29 01:00] #94 closed

[2016-01-10 02:05] jdgeenen opened #95 "Handle 401 errors in the throttle test"
Find the first synchronized AB that isn't disabled, and add support for 401s.

[2016-01-10 02:06] jdgeenen opened #96 "Improve 403 error handling"
As seen here: http://pirules.org/forum/index.php/topic,707.0.html 403 errors are not obvious and should be handled better (prompt for reauthentication?).

[2016-01-10 02:07] jdgeenen commented on #92
Could you go to gContactSync -> Preferences -> Advanced and click on "Run Throttle Test" and let me know what it says?

[2016-01-10 02:12] jdgeenen opened #97 "403 errors"
Many users are receiving 403 errors during synchronization saying that they don't have access to the group and/or contact list for their e-mail address.

[2016-01-10 02:14] jdgeenen opened #98 "Drag and drop does not clear the Google ID when moving between ABs"
Drag and drop does not clear the Google ID when moving between ABs.

[2016-01-10 02:56] jdgeenen commented on #98
Fixed in v3.0.0a2.

[2016-01-10 02:56] #98 closed

[2016-01-10 14:51] seaquake commented on #92
I have run the test from 5 mins, after i received the "503 error" and seems that the test is stuck on "Testing with a delay of: 0 ms". i let it run, if nothing change i will let pass sometime and try it when not in the "over quota" period.

![cattura](https://cloud.githubusercontent.com/assets/1249550/12222079/6865ed4e-b7b1-11e5-9bad-b1d090220726.JPG)

At the moment i'm runnning THunderbird 38.5.1

[2016-01-10 17:03] seaquake commented on #92
i'm sorry i just retry (after 2 hours with thunderbird closed) butnothing change.

[2016-01-10 23:31] kq01526 commented on #2
This doesn't seem to be true?

You can still enable it via:

https://www.google.com/settings/security/lesssecureapps

So, is there any way to use a normal password with gContactSync? Or is OAuth the only way to use gContactSync now?

Could you please reintroduce a way to use a normal password instead of OAuth?

Regards

[2016-01-11 01:34] jdgeenen commented on #2
Version 2.0.0 and later only supports OAuth for authentication.  I just tried signing in with an older version and it failed with a 404 and the text "https://developers.google.com/accounts/docs/AuthForInstalledApps".  If you want to try an older version you can download it [here](https://addons.mozilla.org/en-us/thunderbird/addon/gcontactsync/versions/).

[2016-01-11 01:35] jdgeenen commented on #92
Were there some 401 errors in the log?  I saw the same thing when I tried it so I wrote up Issue #95 to look into it.

[2016-01-11 09:12] kq01526 commented on #2
@jdgeenen :

Have you enabled less secure apps via https://www.google.com/settings/security/lesssecureapps before trying to log in?

You first need to be logged in to your Google account (Gmail for example), then open https://www.google.com/settings/security/lesssecureapps, then you will see a page with two radio buttons which will allow you to enable less secure apps.

It is explained over there:

[2016-01-11 12:00] seaquake commented on #92
No, i try a search in the log after a stucked test, but there isn't any 401.

[2016-01-13 03:31] jdgeenen commented on #2
Yes, I have less secure app authentication enabled, but I don't think it applies to the unsupported [ClientLogin](https://developers.google.com/identity/protocols/AuthForInstalledApps) (the alternative to OAuth).

[2016-01-13 03:33] jdgeenen commented on #92
Could you turn on Verbose logging in the Preferences and e-mail it to joshgeenen at gmail?

[2016-01-13 11:54] seaquake commented on #92
Done, thanks.

[2016-01-13 22:01] kq01526 commented on #2
Okay, thank you for having looked into this.

[2016-01-17 22:57] jdgeenen opened #99 "Prefix Twitter handles with "@""
http://pirules.org/forum/index.php/topic,675.0.html

[2016-01-17 22:59] jdgeenen opened #100 "Show which contacts are going to be deleted in prompt"
Show which contacts are going to be deleted in the prompt.  Since several contacts may be deleted it's probably best to allow the list to scroll.

[2016-02-10 11:52] CyberKiller40 opened #103 "Show contacts from directory"
The enterprise google apps allows to set up a users directory, which is shared between all users in the organization (e.g. stuff like email/phones to all employees, etc).

Would it be possible for the gContactSync plugin to read these addresses too?

[2016-02-15 19:11] jdgeenen commented on #103
It looks very similar to the contacts API that gContactSync uses and it would probably work with very few changes.  However, if I'm reading [their documentation](https://developers.google.com/admin-sdk/domain-shared-contacts/#Feeds) correctly I think only domain administrators have access to the feed:

[2016-02-15 19:34] jdgeenen commented on #97
This appears to have worked

[2016-02-15 19:34] #97 closed

[2016-02-15 19:58] CyberKiller40 commented on #103
Yes, the directory contacts are read-only for normal users. Still, reading them is a very needed feature in an enterprise environment.

[2016-04-25 00:11] #96 closed

[2016-04-25 00:36] jdgeenen opened #104 ""com.gContactSync is undefined" error in Thunderbird 45"
Some users have reported a "com.gContactSync is undefined" error in Thunderbird 45.  Upon investigation, it looks like a race condition in TB 45 when loading add-ons that define a global "com" object.  Refactor to introduce a global "gContactSync" instead of "com.gContactSync".

[2016-04-25 01:20] #104 closed

[2016-04-28 02:34] jdgeenen commented on #73
Sorry, but I don't plan on providing nightly builds at this time.  If I had more time to work on gContactSync I would consider it.  I typically keep the development channel on AMO up-to-date when I make and test changes.

If you really want to use the latest changes you could clone the source and write a script to pull updates then run Thunderbird and use that instead of your usual TB shortcut.  S

[2016-04-28 02:35] #15 closed

[2016-05-23 02:12] aidalgol commented on #103
@CyberKiller40 The documentation page cited by @jdgeenen makes it sound like there is no read-only feed for normal users.  Either the documentation is unclear, or this is a gap in the API.  (A massive, crippling gap.)  Is there any (easy) way to test this?

[2016-05-25 19:36] khandpur-ualberta opened #105 "Remove sync log from thunderbird main windows"
Hello. Was wondering if it's possible to remove the 'last good sync' info from the main Thunderbird window. If it's a setting that I'm missing, my apologies.

Thanks

![screenshot from 2016-05-25 13-35-33](https://cloud.githubusercontent.com/assets/16362256/15553714/9a679bb2-227d-11e6-9afa-124d52be34e8.png)

[2016-07-15 10:12] zonkshtol opened #106 "No support for international chars in Address Book names"
Sync wouldn't work if AB is named in Russian characters (didn't check other languages)

[2016-11-21 21:16] eesheesh commented on #103
The GAL feed is readable to all users in the domain unless the admin disabled it.

The URL is `https://www.google.com/m8/feeds/gal/domain.com/full`, where `domain.com` is the user's domain (can be obtained from the email address). It's the same as normal Contacts API resources, and paginated the same way too. It includes users, groups, calendar resources, and domain shared contacts.

There's some

[2016-12-19 18:50] tanstaafl opened #107 "Local & Remote (WebDAV, FTP, etc) sync capability"
Hey Josh,

I'm basically just copy/pasting this from my long standing feature request I posted in your forums back in June of '14.

Ok, so this is a feature request to make gContactSync capable of syncing to a standard file format - like JSON, a custom XML format, or even LDIF or VCF - and then extending that capability to be able to sync to non-google/privately hosted local and/or remote filesyst

[2017-01-06 18:40] jonnybest commented on #92
I seem to have this issue after my initial synchronization with Google Contacts. After ~2000 items, the "throttle test" gets nothing but 401 errors. Unfortunately, gcontactsync only tells me "Your authentication token from Google has expired. (...)". Is this the same issue?

[2017-01-06 23:38] seaquake commented on #92
I receive that error too, but i don't know if it are connected. for sure there is a limit the google set on the request. i'm still waiting the fix of this issue,
we need wait that author fix it :D

[2017-04-14 12:37] jdgeenen opened #108 "‘nsIOService::NewChannel()’ deprecated warning in GContact.js"
The following warning shows up in TB 52.0:
07:33:31.868 Warning: ‘nsIOService::NewChannel()’ deprecated, please use ‘nsIOService::NewChannel2()’ 1 GContact.js:960:13

[2017-04-14 12:38] jdgeenen opened #109 "Thunderbird 52.0 compatibility"
There are various reports of TB 52.0 not working properly.
From Topoldo via a [review](https://addons.mozilla.org/en-us/thunderbird/addon/gcontactsync/reviews/857834/)

[2017-04-14 13:40] jdgeenen commented on #109
The account wizard and basic synchronization works.  Confirmed that drag and drop doesn't.

Fix is to use the built-in onDrop method if there are three+ arguments since it now copies all attributes.  Add an itemAdded listener to the AB and remove the GoogleID for newly added contacts outside of sync.

[2017-04-22 20:07] #109 closed

[2017-04-22 20:12] jdgeenen opened #110 "Detect incorrect local time"
gContactSync has received many low reviews and bug reports related to an incorrect local time.  Using the wrong time zone seems to be the most common problem lately.  Detect an incorrect local time and warn the user with an option to temporarily disable synchronization.

[2017-09-28 13:26] nagyt234 opened #111 "My contacts are synchronized to "Other Contacts" in Google Contacts"
My personal contacts from Thunderbird are synchronized to "Other Contacts" in Google Contacts instead of under "My Contacts", however the groups are synchronized there.

[2017-11-23 00:48] johnrezzo opened #112 "Extension doesn't work under Thunderbird 57.0b2 (32-bit)"
Using Thunderbird 57.0b2 (32-bit) the gContactsSync extension seems to be broken. It doesn't sync contacts anymore automatically nor manually. It doesn't show the configured accounts in the preferences. It even breaks the Thunderbird Address Book, which shows an empty (white) window with no contacts listed. Removing the extension restores the address book functionality to normal.

[2017-11-23 14:33] jdgeenen commented on #112
Fixed in 2.0.13 (out for review) and 3.0.0a8 (beta channel).  Thanks for writing this up!

[2017-11-23 14:33] #112 closed

[2018-02-02 10:42] CardBook opened #113 "Gcontactsync Preferences Dialog Broken in 2.0.13 on macOS TB 59.0a1"
Hi Josh

I'm having the same problem on CardBook : https://github.com/CardBook/CardBook/issues/232 ... have you got an idea to fix it ?

Philippe

[2018-02-02 12:42] CardBook commented on #113
found it : just add this into your file options.xul
<?xml-stylesheet href="chrome://messenger/skin/preferences/preferences.css"?>

[2018-03-18 16:48] vfaure7 opened #114 "Unable to add two contacts with the same email address to a group/list"
Hi,

First of all, congratulations for this extension, it's really a great work.

I've found this bug sorting my contacts but i was trying to place a contact in a group and it would not
show up in the matching list in thunderbird. After some digging, I found out that it was because another contact already had the same email address as primary email address.

Here are the steps to reproduce the iss

[2018-06-13 16:31] sloncho commented on #103
I found a semi-workaround. Create a new group, then add all contacts from the GAL to that group. Yes, it's clumsy, as from time to time one have to repeat the above steps, when new people are added, but still it is better than nothing.

There is a small problem - somehow the names are not synced that way. Only the emails. Not good.

I guess reading the GAL feed is the way to go.

[2018-06-13 17:32] eesheesh commented on #103
This is because when you add a directory contact to My Contacts, it only adds the email address, and the rest of the information is added live by the Google Contacts web interface when you view it, so it's always fresh.

[2018-06-30 07:38] vpontin opened #115 "Port for Thunderbird 60+"
Will this be possible?

60+ (currently beta) will incorporate much of quantum philosophy of Firefox to Thunderbird. I currently using it and i would love to see this extension ported as well.

Thanks!

[2018-07-14 14:56] jdgeenen opened #116 "TB 60: "TypeError: getSelectedDirectory(...) is null""
ERROR: failed to set status text:  TypeError: getSelectedDirectory(...) is null addressbook.js:520
	SetStatusText chrome://messenger/content/addressbook/addressbook.js:520:5
	onCountChanged chrome://messenger/content/addressbook/addressbook.js:136:5
	AddressBook_addList chrome://gcontactsync/content/AddressBook.js:195:5
	Sync_syncGroups chrome://gcontactsync/content/Sync.js:1057:30
	getGroupsSucce

[2018-07-14 14:57] jdgeenen opened #117 "TB 60: Warning: ‘nsIOService::NewChannel()’ deprecated, please use ‘nsIOService::NewChannel2()’ GContact.js:960:13"
Warning: ‘nsIOService::NewChannel()’ deprecated, please use ‘nsIOService::NewChannel2()’  GContact.js:960:13

[2018-07-14 14:58] jdgeenen commented on #117
Dup of #108

[2018-07-14 14:58] #117 closed

[2018-07-14 15:00] jdgeenen commented on #115
This should be addressed by various other issues:
#108, #116, #113, #112

[2018-07-14 15:02] jdgeenen opened #118 "Update links to pirules.org to use HTTPS"
Switch all links to pirules.org over to HTTPS

[2018-07-14 15:51] jdgeenen commented on #116
Unfortunately the AB listener registered by addressbook.js assumes that an address book's count only changes when the address book is selected.
I might hold off on this for now while I work on more important fixes.  This is just an error saying the status text can't be set.

[2018-07-14 16:06] #83 closed

[2018-07-14 16:07] #118 closed

[2018-07-14 16:08] jdgeenen commented on #113
@CardBook Thanks!  This will be fixed in the next release.

[2018-07-14 16:08] #113 closed

[2018-07-14 16:43] vpontin opened #119 "Cannot link Facebook account"
When i try to login into my facebook account to give permissions to the app it always says something like "App not setup: This app is still in developement mode..."

Below is the original message (in Portuguese):
![image](https://user-images.githubusercontent.com/3485505/42726497-bc7b3b6e-876b-11e8-8949-007baf8572ca.png)

[2018-07-14 17:06] jdgeenen commented on #119
Looks like Facebook made gContactSync private by default.  After making a new privacy policy and giving them the URL I was able to make it public again.
The scope I used to request no longer works, and it looks like I won't be able to access much information any more.
After fixing the scope on pirules.org I still get an error, though gContactSync tries to import and gets 0 contacts:
{"error":{"mes

[2018-07-28 06:56] mart-e opened #120 "What does "reset the address book" does?"
Hi,

![screenshot from 2018-07-28 08-53-10](https://user-images.githubusercontent.com/564822/43353985-b35ffbd6-9243-11e8-8f23-264023c38c11.png)

This error message is actually kind of scary.
Does "resetting the address book" means: "remove all contacts and start over"?
If yes, this should probably be put clearly in bold.
If not, it should probably be rephrased in a less-scary way (like "reset conf

[2018-10-29 05:58] RogueScholar opened #121 "Incompatible with Thunderbird Beta 64.1"
Thunderbird has once again outpaced the maximum compatible version reported by the extension, forcing it to be disabled. Could a quick version bump be made to restore functionality?

[2018-11-26 16:55] fedecupe opened #122 "Error in Facebook import. (unsecure connection)"
Trying to import contacts from Facebook yelds the following error
![image](https://user-images.githubusercontent.com/22663905/49029079-1c81cf80-f1a4-11e8-8ca4-c0b3d7fe4f3f.png)

Thunderbird 60.2.1 (64-bit)
gContactSync 3.0.0

[2018-12-04 03:12] jdgeenen commented on #121
63.0 and later are more difficult to support: https://wiki.mozilla.org/Thunderbird/Add-ons_Guide_63
I'll look into it.

[2018-12-04 03:45] jdgeenen commented on #121
I was able to use the "legacy" mode with XUL and get it somewhat functional.  I'm not terribly impressed by the Thunderbird bugs I've run into, the stale documentation (even the wiki for getting comm-central source is broken), the very limited support, or the development tools that no longer work: DXR, DOM Inspector, etc.

Remaining problems that I've found so far:

Supporting both TB 63 and later

[2018-12-04 08:50] callegar opened #123 "Synchronizatin summary presented twice"
When I sync after the operation the synchronization summary is shown in a window. However, this is weirdly shown twice:
[code]

It is unclear to me if this is a bug (possibly an innocuous one) or the sign that something got seriously messed up in the configuration of the accounts. If I look at the latter from the edit accounts menu entry, everything seems fine, apart from the fact that the dropdow

[2018-12-04 14:16] hfball commented on #121
FWIW, it's still working in 60.* (tested with 60.3.2). Unfortunately, this probably means one more version you have to watch and test for.

[2018-12-12 15:34] Gnossos commented on #121
Well, I'm having trouble with TB 60.3.3 (64-bit) on MacOS 10.13.6. gContactSync was working fine, but then it started to open an error message window:

"**gContactSync Warning**
Your authentication token from Google has expird. Please click OK then enter your credentials to get a new token and Synchronize your contacts."

When I click OK, another window pops open. Its title is "**Sign in with Goog

[2018-12-20 12:47] juanjosv opened #124 "Unable to synchronize"
"One or more of your mailing lists has broken.  This can happen if you drag and drop several contacts into mailing lists, or sometimes if you have contacts without e-mail addresses.
Certain groups in Gmail (My Contacts, Coworkers, Family, and Friends) cannot be deleted or renamed, either.
Click OK to reset the addresss book or Cancel to do it later.
Visit the forum if you have any questions."
I di

[2018-12-20 12:48] juanjosv commented on #124
Sorry, duplicated: [https://github.com/jdgeenen/gcontactsync/issues/120](url)

[2018-12-20 12:48] #124 closed

[2018-12-20 12:50] juanjosv commented on #120
Same here, The reset didn't solve anything. i can only sync using my contacts, i didn't delete any groups nor rename.

[2018-12-25 13:55] shoqvalue commented on #121
Josh, thanks for all your effort, and  Merry Xmas.  How vulnerable do you suppose  I am running TB 52.9 until you solve these riddles?  I need gContactsSync more than I need total security, but still… :)

[2018-12-28 16:54] bigwave opened #125 "Reset Address Book Fails"
TypeError: (new Date(...)).toLocaleFormat is not a function[Learn More]  GAddressBook.js:163:8
	GAddressBook_reset chrome://gcontactsync/content/GAddressBook.js:163:8
	Sync_syncGroups chrome://gcontactsync/content/Sync.js:1019:23
	getGroupsSuccess chrome://gcontactsync/content/Sync.js:301:7
	httpReq_readyState chrome://gcontactsync/content/HttpRequest.js:234:11

**Troubleshooting Information from

[2019-01-02 17:56] JS118m opened #126 "Synch Not working"
Using TBird 60.4.0 (32-bit) with gcontactsync, after changing & adding contcats in both google contacts and Tbird address book then operating gcontactsync no sycnronisation takes place. Google calendar and Lightening calendar synch okay.

I've tried unintsalling and reinstalling gcontactsync but no change to the problem.

Any ideas gratefully received.

Thanks

[2019-01-02 18:18] JerryDurand commented on #126
It's a known problem, TBird broke the interface yet again.  There are hundreds of mice working on the problem now, but a group of cats keeps scattering them.

[2019-01-11 11:58] mmalmeida commented on #126
I think this is a duplicate of https://github.com/jdgeenen/gcontactsync/issues/121

[2019-03-10 14:01] jdgeenen commented on #125
Thanks, I'm able to recreate this.

[2019-03-10 14:02] jdgeenen commented on #125
This is also used in ABOverlay.js

[2019-03-10 14:28] jdgeenen commented on #126
Dup of #121

[2019-03-10 14:28] #126 closed

[2019-03-10 14:29] jdgeenen commented on #125
Fixed, (though I just noticed the typo in my commit message).  Issue #121 is still a blocker for TB 60+ support.

[2019-03-10 14:29] #125 closed

[2019-03-10 14:49] jdgeenen commented on #121
I have this mostly working, but the options.xul dialog lost its tabs.

Done

Fixed by using the descriptively named newChannel2 function: https://developer.mozilla.org/en-US/docs/Mozilla/Tech/XPCOM/Reference/Interface/nsIIOService#newChannel2() .  There is an image downloader that abCard.js in TB uses, but it is not extensible enough to warrant using.

I should write up a bug for TB for this.

New

[2019-03-10 14:53] jdgeenen commented on #121
StringBundle error:

[2019-03-10 15:10] jdgeenen commented on #121
Using this + GetStringFromName() fixed the string bundle error and the status bar text.
    let stringBundleService = Components.classes["@mozilla.org/intl/stringbundle;1"]
                                        .getService(Components.interfaces.nsIStringBundleService);
    gContactSync.StringBundle.mBundle =
      stringBundleService.createBundle("chrome://gContactSync/locale/gcontactsync.proper

[2019-03-10 15:40] jdgeenen commented on #108
Resolved in #121

[2019-03-10 15:40] #108 closed

[2019-03-10 15:41] jdgeenen commented on #115
#121 will address the remaining major issues.

[2019-03-10 15:41] #115 closed

[2019-03-10 15:42] jdgeenen commented on #121
@Gnossos it looks like this is another TB incompatibility.  I'll address this next.

Updating John Doe - johndoe@gmail.com
***WARNING: Error while serializing the following XML: [object Element]
Error Message:
TypeError: Components.classes['@mozilla.org/xmlextras/xmlserializer;1'] is undefined
***Found an expired token***

[2019-03-10 18:02] jdgeenen commented on #121
The options dialog looks normal in TB 65.  There may be a bug in 66 that is prevent it from displaying with tabs.  If it continues I'll look into it in a different issue.
For now, I'm closing this since it seems to be working in v3.1.4.

[2019-03-10 18:02] #121 closed

[2019-03-10 18:02] jdgeenen commented on #114
This is a limitation of mailing lists in Thunderbird.

[2019-03-10 18:03] jdgeenen commented on #114
The recommendation here is to sync each group with a different address book.  There was a plan ~10 years ago to replace the address book and mailing list code, but that still hasn't happened :(.

[2019-03-10 18:03] #114 closed

[2019-03-11 12:12] jdgeenen commented on #111
Duplicate of issue #60.

[2019-03-11 12:12] #111 closed

[2019-03-11 12:13] jdgeenen commented on #60
With all the bugs in Thunderbird's mailing lists plus Google's change in the way contacts are presented in its web client, my recommendation is to sync each group with a separate address book.

[2019-03-11 12:18] jdgeenen commented on #43
Google+ will be shutdown for consumers soon, so this is a wontfix.

[2019-03-11 12:18] #43 closed

[2019-03-11 12:20] jdgeenen opened #128 "Switch to People API"
The Contacts Data API will likely be deprecated in the future, so gContactSync needs to switch to the People API: https://developers.google.com/people/related-apis https://developers.google.com/people/

[2019-03-13 22:54] jdgeenen commented on #103
The People API appears to support this: https://developers.google.com/people/api/rest/v1/people#sourcetype

[2019-03-17 19:11] jdgeenen opened #129 "Preferences Dialog looks bad in TB 66.0b3"
The prefs dialog looks terrible in TB 66 beta.  All the prefpanes are in a single dialog without the tabs or images that they used to have.

[2019-03-17 19:20] jdgeenen opened #130 "Overlaying messenger.xul breaks labeled e-mail colors"
Overlaying messenger.xul breaks labeled e-mail colors.  It appears that somehow this line breaks the text coloring of labeled e-mails:
```<?xml-stylesheet href="chrome://global/skin/" type="text/css"?>```

[2019-03-17 19:35] #129 closed

[2019-03-17 19:35] #130 closed

[2019-03-20 02:42] jdgeenen commented on #119
The recent security concerns with Facebook apps forced me to make some updates to the App settings on FB.  You can now link the account again, but I'm back to the access token error I hit earlier.

[2019-04-06 18:42] jdgeenen commented on #53
Only Thunderbird will be supported going forward due to the diverging nature of the projects.

[2019-04-06 18:42] #53 closed

[2019-05-13 21:50] spindo opened #131 "3.0.0 stopped working and latest version fails as well."
I posted a good while ago on pirules.org and didn't hear back from Josh. I have tbird 60.x and the add on no longer seems to work. It does nothing, even a reset from server command seems to do nothing.

I hope this addon comes back to life or that the thunderbird team adopts is. tbird without contacts is fairly useless.

[2019-05-13 21:58] JerryDurand commented on #131
Still works on the Linux version of TBird, 60.6.1, but all the Windows
machines are still dead.  Granted, it's not a bad fate for Windows
machines but I have a lot of software that only works on them.

On 5/13/19 2:50 PM, spindo wrote:

--
Jerry Durand, Durand Interstellar, Inc.
www.DurandInterstellar.com
tel: +1 408 356-3886
@DurandInterstel

[2019-05-30 01:08] jdgeenen commented on #131
Is there anything in the Error Console or gContactSync log that might help narrow this down?

[2019-05-30 01:16] jdgeenen opened #132 "gContactSync broken in TB nightly 2019-5-27 and later"
**Describe the bug**
gContactSync broken in TB nightly 2019-5-27 and later ( tested)

The reported error is that createDocument on a XUL element crashes the nightly.

I also hit this in the new account wizard:
`Handler function DebuggerProgressListener.prototype.onWindowCreated threw an exception: TypeError: window is undefined
Stack: getWindowID@resource://devtools/server/actors/targets/browsing-

[2019-05-30 01:23] jdgeenen opened #133 "Improve the OAuth dialog"
**Is your feature request related to a problem? Please describe.**
Improve the OAuth dialog.

**Describe the solution you'd like**
A cleaner dialog that displays the current URL so users have more confidence in how their credentials are handled.
Look into Thunderbird's OAuth dialog for Gmail.

**Additional context**
https://superuser.com/questions/1430046/how-can-i-know-for-sure-that-this-google-s

[2019-05-30 01:59] jdgeenen commented on #132
The AB Dialog has changed so the overlay will need significant work, or to be abandoned completely.

[2019-05-30 13:44] jikamens commented on #132
N.B. Check if the AB Dialog is different in TB 68 or those changes are just for TB 69+. If the latter, you may need to have two different versions of the add-on, one for TB 68 and one for later, or have compatibility code in the add-on to handle both. I believe TB 68 has branched in preparation for release so what's on the trunk isn't necessarily going to be in 68.

[2019-05-31 00:01] jdgeenen opened #134 "Re-release with TB 60 support"
TB 68 won't be released until ~July.  Re-add TB 60 support by popular demand.

[2019-05-31 00:30] jdgeenen commented on #134
Since I already uploaded a "MailExtension" (TB68) version of the 3.0 branch I had to go back to version 2 and release 2.1.13 with the legacy install.rdf method.  I'm not sure if Thunderbird 60 will automatically update since it would be going backwards.

Once it gets reviewed it should show up here: https://addons.thunderbird.net/en-US/thunderbird/addon/gcontactsync/versions/ as 2.1.13 if Thunderb

[2019-05-31 00:30] #134 closed

[2019-05-31 02:36] jdgeenen commented on #133
mailnews/base/util/OAuth2.jsm appears to be what is used by TB.
It uses [Services.ww.openWindow](https://developer.mozilla.org/en-US/docs/Mozilla/Tech/XPCOM/Reference/Interface/nsIWindowWatcher#openWindow()) with several members (account, url, iconURI, cancelled, loaded, etc.) and the following:

    requestWindowURI: "chrome://messenger/content/browserRequest.xul",
    requestWindowFeatures: "chr

[2019-06-01 14:33] jdgeenen commented on #132
https://developer.thunderbird.net/add-ons/tb68/changes#less-than-dialog-greater-than-events should fix the wizard.  The error I saw is related to the error dialog and shouldn't stop the wizard from working.

[2019-06-01 14:33] jdgeenen commented on #132
Next issue:
NS_ERROR_FAILURE: Component returned failure code: 0x80004005 (NS_ERROR_FAILURE) [nsIWebNavigation.loadURI] browser-custom-element.js:825
    loadURI chrome://global/content/elements/browser-custom-element.js:825
    _wrapURIChangeCall chrome://global/content/elements/browser-custom-element.js:764
    loadURI chrome://global/content/elements/browser-custom-element.js:824
    AccountSet

[2019-06-01 14:36] jdgeenen opened #135 "New Account Wizard broken in TB 68"
**Describe the bug**
New Account Wizard broken in TB 68.  Events don't work in the wizard/wizardpage XUL.

**To Reproduce**
Steps to reproduce the behavior (TB68 and later)
1. Go to gContactSync -> New Account
2. Pick or type an account
3. Click Next
4. Browser page is not initialized.

**Expected behavior**
OAuth2 page from Google.

**Application (please complete the following information):**
 -

[2019-06-01 14:37] jdgeenen commented on #132
I'm moving the Account Wizard to #135.  This affects TB 68 and later so I'm working on it first.

[2019-06-01 14:37] jdgeenen commented on #135
https://developer.thunderbird.net/add-ons/tb68/changes#less-than-dialog-greater-than-events should fix the wizard.

[2019-06-01 14:37] jdgeenen commented on #135
After switching events I see this:
[code]

[2019-06-01 15:14] jdgeenen commented on #135
setAttribute("src", url); worked instead of loadURI.  I don't know why.

[2019-06-01 15:21] jdgeenen commented on #135
The wizard is working in TB 68, but failing on TB built from source as of yesterday (with no errors to provide any hints).

[2019-06-01 15:34] jdgeenen opened #136 "Photo downloads fail in TB68"
**Describe the bug**
Photo downloads fail in TB68
[code]

**To Reproduce**
Steps to reproduce the behavior:
1. Add a contact w/ a photo from google.com/contacts
2. Sync.  Photo missing, sync doesn't finish.
3. Open the Browser Console

**Expected behavior**
Photo downloaded with no errors

**Screenshots**
If applicable, add screenshots to help explain your problem.

**Application (please complete

[2019-06-01 15:44] jdgeenen commented on #136
Replacing newChannel2 with newChannel causes this:
[code]
Setting the load info and policy fixed this:
                         Ci.nsILoadInfo.SEC_ALLOW_CROSS_ORIGIN_DATA_INHERITS,
                         Ci.TYPE_OBJECT);

[2019-06-01 15:47] jdgeenen commented on #136
Photo uploads work with my changes, too

[2019-06-01 15:49] jdgeenen opened #137 "Custom AB fields not working in TB68"
**Describe the bug**
Custom AB fields not working in TB68

**To Reproduce**
Steps to reproduce the behavior:
1. Edit a contact
2. Fill in one or more fields added by gContactSync
3. Close the dialog
4. Check the contact.  The custom fields were not updated.

**Expected behavior**
Fields are properly saved

**Screenshots**
If applicable, add screenshots to help explain your problem.

**Application

[2019-06-01 15:50] jdgeenen commented on #137
Anniversary field doesn't work, either.  The custom datepicker was removed.

[2019-06-01 16:15] jdgeenen opened #138 "Preferences Dialog Broken in TB68"
**Describe the bug**
Preferences dialog is not working in TB68.  It has a black background for some reason and none of the elements are actually linked to the preferences.

**To Reproduce**
Steps to reproduce the behavior:
1. Open the Preferences dialog
2. Look at it.

**Expected behavior**
The dialog should have a similar appearance to TB60 and the preferences should be linked to the elements.

*

[2019-06-01 17:09] jdgeenen commented on #132
This should be fixed in 3.1.6.

[2019-06-01 17:09] #132 closed

[2019-06-01 17:09] jdgeenen commented on #136
This should be fixed in 3.1.6.

[2019-06-01 17:09] #136 closed

[2019-06-01 17:09] jdgeenen commented on #137
This should be fixed in 3.1.6.

[2019-06-01 17:09] #137 closed

[2019-06-01 17:09] jdgeenen commented on #138
This should be fixed in 3.1.6.

[2019-06-01 17:09] #138 closed

[2019-06-01 17:09] jdgeenen commented on #135
This should be fixed in 3.1.6.  I'll leave TB69 for another issue.

[2019-06-01 17:09] #135 closed

[2019-06-01 19:14] jdgeenen commented on #131
Can you try again with version 2.1.13: https://addons.thunderbird.net/en-US/thunderbird/addon/gcontactsync/versions/?page=1#version-2.1.13
2.1.x supports TB60 and the 3.x branch only supports TB67+ going forward.

[2019-06-01 19:15] jdgeenen commented on #122
Dup of #119

[2019-06-01 19:15] #122 closed

[2019-06-01 19:16] jdgeenen commented on #120
It deletes your local contacts and groups from Thunderbird and re-pulls them in from Google.
I recommend using the new option to skip synchronization of contacts without e-mail addresses and/or synchronizing each group with a separate address book.

[2019-06-01 19:16] #120 closed

[2019-06-01 19:17] #116 closed

[2019-06-01 19:27] jdgeenen opened #139 "Remove deprecated items"
Remove remaining deprecated items listed here: https://developer.thunderbird.net/add-ons/tb68/changes

[2019-06-01 19:49] jdgeenen commented on #139
Pushed with the recommended fixes/replacements.  This will be in v3.1.7 whenever I release it.  Other than visual improvements in the Preferences dialog in TB67 and 68 there were no noticeable differences.

[2019-06-01 19:49] #139 closed

[2019-06-03 13:55] jikamens opened #140 "3.1.6 Blank window when attempting to refresh google authentication tokens"
**Describe the bug**
Blank window when attempting to refresh google authentication tokens.

Stack trace in error console:

NS_ERROR_FAILURE: Component returned failure code: 0x80004005 (NS_ERROR_FAILURE) [nsIWebNavigation.loadURI] browser-custom-element.js:848
    loadURI chrome://global/content/elements/browser-custom-element.js:848
    _wrapURIChangeCall chrome://global/content/elements/browser-

[2019-06-12 01:34] jdgeenen commented on #140
Thanks for reporting this.  The fix is in 3.1.7, which I published for review.

[2019-06-12 01:34] #140 closed

[2019-06-12 06:00] patrickdrd opened #141 "preferences menu looks ugly"
![Clipboard01](https://user-images.githubusercontent.com/24896778/59326610-b992f880-8cef-11e9-8f1f-0564c5f99098.jpg)

 - OS: windows 8.1 x64

 - Application: Thunderbird
 - Application Version: 60.7.0
 - gContactSync Version: 3.0.0a8 (the latest I could install in 60.7.0, the other were reported incompatible)

[2019-06-12 12:22] jdgeenen commented on #141
See http://www.pirules.org/blog/?p=490 .  You need to use version 2.1.x on Thunderbird 60.

[2019-06-12 12:31] patrickdrd commented on #141
thanks! can I install 2.1.x on top? or should I uninstall first?

[2019-06-12 12:31] jdgeenen commented on #141
You can install on top.

[2019-07-01 02:13] #141 closed

[2019-07-01 02:18] jdgeenen opened #142 "503 errors (authentication token expired/you must login to sync)"
**Describe the bug**
I've had multiple reports of 503 errors and the subsequent messages such as token expiration.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to '...'
2. Click on '....'
3. Scroll down to '....'
4. See error

**Application (please complete the following information):**
 - Application: Thunderbird
 - Application Version: 60
 - gContactSync Version: 2.0.13

[2019-07-01 02:25] jdgeenen commented on #142
This isn't recreating for me.

[2019-07-06 05:55] dillenger opened #143 "statusbarpanel text fix"
Statusbarpanels are now toolbarbuttons with class statusbarpanel:

In Overlay.xul try:

[code]

And in MessengerOverlay.xul try:

[code]
There must be more but these two fix the statusbar text in the main window.

[2019-08-06 12:49] stepand76 opened #144 "gContactSync doesn't work on TB 69 Beta 1"
I use gContactSync 3.1.7 but it is not compatible with TB 69 Beta 1. Could you please update it? Thanks.

[2019-08-17 10:05] Petziboy opened #145 "duplicated addresses"
Hello,

With the extension gContactSync, how to synchronize my two Thunderbird address books ("personal" and "collected") with Google Contacts without adding twice (in each of my TB address books) the other addresses already contained in my contacts ? ... (ie without creating duplicates)

Example of the problem:

1) Before synchronization:
- Google Contacts: 1000
- TB contacts Personal: 300
- TB c

[2019-09-14 08:01] Xenasblade commented on #142
I'm seeing this or a very similar bug.

After working without a problem for about a month, as of today I receive a warning dialog every time a sync is attempted, both automatically or manually initiated. Dialog reads

"Your authentication token for Google has expired. Please click OK and enter your credentials to get a new token and Synchronize your contacts."

Clicking OK brings up the Refresh To

[2019-10-05 16:03] jdgeenen commented on #26
This is already in 3.0

[2019-10-05 16:03] #26 closed

[2019-10-11 08:12] joelnoomi commented on #103
As a workaround, for now, I went to contacts.google.com logged in with my G Suite account, selected all contacts and then selected "Add contact(s)". After that, they were synced successfully by gContactSync. It would be great to have official support for shared contacts from the directory though.

[2019-11-02 17:37] jdgeenen opened #146 "NS_ERROR_NOT_INITIALIZED during bulk add of contacts"
**Describe the bug**
A clear and concise description of what the bug is.

**To Reproduce**
Steps to reproduce the behavior:
1. Add around 250 contacts to a synchronized address book.
2. Sync
3. Check the Error Console in TB:
NS_ERROR_NOT_INITIALIZED: Component returned failure code: 0xc1f30001 (NS_ERROR_NOT_INITIALIZED) [nsIAbDirectory.modifyCard] 2 AddressBook.js:256
    AddressBook_updateContact

[2019-11-02 18:09] jdgeenen opened #147 "ERROR: failed to set status text: TypeError: getSelectedDirectory(...) is null"
**Describe the bug**
"ERROR:  failed to set status text: TypeError: getSelectedDirectory(...) is null" in the error console.

**To Reproduce**
Steps to reproduce the behavior:
1. Sync without an AB selected.
2. Open the error console

ERROR: failed to set status text: TypeError: getSelectedDirectory(...) is null addressbook.js:538
    SetStatusText chrome://messenger/content/addressbook/addressboo

[2019-11-02 18:13] jdgeenen commented on #147
This is an issue in base Thunderbird's listener.

[2019-11-12 22:05] fp66 opened #148 "Doesn't sync all contacts from Google account"
gcontactsync doesn't sync/download all my (375) contacts from my Google account.

Windows 10 Pro
Thunderbird 68.2.2
gcontactsync 3.1.7

[2019-11-16 14:59] jdgeenen commented on #148
Do the missing contacts have e-mail addresses?  Newer versions of gContactSync skip contacts without e-mail addresses by default.  You can view and change this setting in the Edit Accounts dialog under the gContactSync menu.  Please also verify you don't have read-only or write-only mode enabled for this address book.

If this isn't the case:
1. Go to the gContactSync Menu -> Preferences -> Main
2

[2019-11-16 15:20] jdgeenen commented on #145
You should synchronize each of your address books with a separate group/label from Google to avoid this issue.  For example, synchronize Personal with "My Contacts" in Google (which is now called "Contacts" in Gmail) and create a new "Collected" label in Google to synchronize with Thunderbrid's collected address book.

[2019-11-16 15:20] #145 closed

[2019-11-16 15:21] jdgeenen commented on #131
Assumed fixed by 3.1.7

[2019-11-16 15:21] #131 closed

[2019-11-16 15:43] jdgeenen opened #149 ""Preference has unknown type char" warnings"
**Describe the bug**
Unknown preference type char

**To Reproduce**
Open gContactSync and look at the Error Console
[code]

**Desktop (please complete the following information):**
 - OS: Windows 10

**Application (please complete the following information):**
 - Application: Thunderbird
 - Application Version: 68.2.2
 - gContactSync Version: 3.1.7

[2019-11-17 12:28] jdgeenen commented on #148
From the log I received it looks like gContactSync was stopped in the middle of synchronization.  There were no errors in the Error Console.

This could be the "unresponsive script" handling.  Go to the menu -> Options -> Options -> Advanced -> Config Editor.
Type **dom.max_** in the Search box.
Change all three of the settings (max_chrome_script_time, max_ext_content_script_run_time, and max_scri

[2019-11-17 15:17] fp66 commented on #148
Thanks a lot, Josh - now gSC works perfectly again!

I'm so glad that I have my contacts up to date now.

[2019-11-17 15:17] #148 closed

[2019-11-17 15:20] jdgeenen commented on #148
@fp66 Was it the "unresponsive script" handling preference?  Would you mind narrowing it down to one of those three prefs?  Reset the max_ext_content_script_run_time and max_script_run_time, leaving just dom.max_chrome_script_run_time alone, then see if the add-on still works (you'll have to Reset your AB again).

[2019-11-17 15:20] jdgeenen commented on #148
Also, that setting is supposed to pop up an "Unresponsive Script" warning and give you the option to stop the script or to let it continue.  Did you ever see this warning?

[2019-11-17 15:49] fp66 commented on #148
No, I haven't seen the warning on Tb yet.

[2019-11-17 16:36] jdgeenen commented on #148
This suggestion didn't work for someone else who has seen this issue.

[2019-11-17 17:01] jdgeenen opened #150 "Support TB 72 daily"
**Is your feature request related to a problem? Please describe.**
Support TB 72 daily.  There are some massive UI issues.

[2019-11-17 17:09] jdgeenen opened #151 "Blank authentication screen on Windows"
**Describe the bug**
Some Windows systems have a blank auth screen on Windows.  The Next button is still enabled, too.

**To Reproduce**
Sometimes recreates on Windows in the new account wizard, TB 68.2 seems more prone to this issue.

**Desktop (please complete the following information):**
 - OS: Windows 10

**Application (please complete the following information):**
 - Application:TB
 - Applic

[2019-11-17 17:13] jdgeenen opened #152 "Synchronization is significantly slower in TB 68"
**Describe the bug**
Synchronization takes significantly longer in TB 68.

**To Reproduce**
Synchronize

**Application (please complete the following information):**
 - Application: Thunderbird 68.2
 - gContactSync Version: 3.1.7

**Additional context**
Some users have reported times as bad as 2-3s per contact.  Relates to issue #148

[2019-11-17 17:14] jdgeenen commented on #148
Also see Issue #152.  The slow performance in TB 68 likely contributes to this issue.

[2019-11-23 04:27] martinsydsin commented on #152
Hi
I am running TB 6.2.2 and experience a similar problem - the sync just stops at some stage. I have tried to set the numbers to 0 and increase them by a factor of x100. Neither approach solves the problem. Restarting and synching again will fetch some additional contacts but it also creates duplicates.

The log seems to terminate abruptly but always at a different entry. I have ~2400 contacts an

[2019-12-05 07:36] stepand76 commented on #150
I just upgraded to beta channel (71.0b1, 72.0b1) and realized that gContactSync (3.1.7) stopped working. Any chance that it will be supported?

[2019-12-05 22:38] tirein commented on #142
I observe exactly the same behavior.
After some test I came to the opinion that only writes to google contacts lead to this.
As long as gcontactsync is not trying to modify google contacts, the sync passes without error.

[2019-12-17 16:06] fp66 commented on #148
Unfortunately, syncing stopped working properly again. My problems seem to be the same as in https://github.com/jdgeenen/gcontactsync/issues/152 so I continue there.

[2020-01-08 04:40] VanceAyres opened #153 "Increased security on Google keeps a new gContactSync account from being created"
In Address Book, clicking on gContactSync > New Account gives you the 1st screen where leaving it on existing account & selecting Next simply gives you a screen that says "Sign in with Google temporarily disabled for this app This app has not been verified yet by Google in order to use Google Sign In."  Next is grayed out so the only options are Cancel or Back. On another site this info is provide

[2020-01-17 09:50] martinsydsin commented on #152
Hi - did some more testing after my TB automatically upgraded itself to 68.4.1.
I believe this is a timeout issue, possibly on the server side. When turning logging off gcontactsync is able to fetch substantially more contacts but still stops around the 1150-1350 mark (I have over 2k contacts). Turning off or setting a high value for the dom.max_ flags does not seem to make any difference. No erro

[2020-02-17 20:24] djzgib commented on #152
Hello,

Same problem here.

Whenever I restart/clear data from gContactSync and try to sync, I get to around 1300-1400 contacts, than it just stops.

I never get to that "gContactSync Notification" window which should give me summary about added, updated, removed contacts etc. Counter simply goes up, counting added contacts and then it stops around 800 or 1000 or 1300 contacts. I have around 1900

[2020-02-18 15:13] djzgib commented on #152
I have found a cause and a solution! (at least works for me)

It was Windows Defender that was slowing down sync process!

After I have disabled "realtime protection" on my new laptop, suddenly sync works like a charm - in about 5 seconds everything is synced and I get that "gContactSync Notification" window with summary.

On my old laptop I have Avast antivirus, and I never had problems with cont

[2020-02-18 15:14] djzgib commented on #148
Try disabling Windows Defender realtime protection!

That worked for me!

[2020-03-22 15:24] Mistral-75 commented on #152
Disabling Windows Defefender, closing Thunderbird, opening Thunderbird and then sync-ing worked for me too: in a few seconds I got the 'gContactSync Notification' window with summary.

I have to disable Windows Defender each and every time I want to sync.

[2020-03-22 15:24] Mistral-75 commented on #148
Disabling Windows Defender real time protection worked for me too.

[2020-03-23 20:50] Bastien59960 commented on #148
Have to disable windows defender also.... And all my contacts sync perfect.
I'll add an exception for Thunderbird...

[2020-03-23 21:04] Bastien59960 commented on #148
Exception in windows defender not work...
ANd stopping windows defender not so much, for my 600 contacts adress book it's working but with another account with more than 3000 contacts  it's don't work al all.

Bastien

[2020-03-23 22:41] Mistral-75 commented on #148
I have 2,063 gmail contacts and disabling Windows Defender's real time protection worked for me.

[2020-03-23 22:45] djzgib commented on #148
@Bastien59960 try to disable Windows Defender real-time protection, then exit Thunderbird, re-open it, and then try to sync.

I have noticed that sometimes just disabling real time protection will not work if Thunderbird is already opened, so I need to close it and re-open in order to make sync work. I have around 2000 contacts, and this fix still works for me.

[2020-03-23 22:58] Mistral-75 commented on #148
Same here.

[2020-03-25 05:02] realdimas commented on #153
Same issue here, applies to all account types: G Suite, Gmail, Google Account tied to 3rd party email.

Steps to reproduce:
1. When prompted by gContactSync Wizard on start-up, select `Use a new account`
1. Type email address
1. Confirm email address and password in the web view
1. Pass two-factor challenge

Expected result:
Receive OAuth consent form prompt.

Actual result:
Error shown
[code]

Se

[2020-04-02 01:57] DaveB91 commented on #153
Just adding a +1 to this issue

[2020-04-02 13:25] mwensveen-ebpi commented on #153
Adding another +1.

[2020-04-11 10:20] hargut commented on #153
Just read a bit on the requirements to be fulfilled, it seems to be necessary to meet at least the following:
https://developers.google.com/apps-script/guides/client-verification#requesting_verification
[code]

Best regards,
Harald

[2020-04-12 18:30] rosenpin opened #154 "Failure in Google's authentication"
I tried logging into my google account and got this error message.
Seems like something is up with your Google developer account maybe

![image](https://user-images.githubusercontent.com/5289630/79076690-d5e33580-7d04-11ea-8854-80bb1a8041ec.png)

[2020-04-14 16:40] chrysmun commented on #154
hey! same issue here. let me know if i can send debug data. cheers!

[2020-04-15 13:02] djzgib commented on #148
For those who wants to continue to use Windows Defender real-time protection along with gContact sync, here is the link to instructions how to exclude thunderbird from real-time protection:

https://docs.microsoft.com/en-us/windows/security/threat-protection/windows-defender-antivirus/configure-process-opened-file-exclusions-windows-defender-antivirus

Follow these instructions, and just add Thund

[2020-04-15 18:22] Salubritas commented on #153
I'm having this issue after a Thunderbird reinstall (to fix slowness/hangs).

I have a TB installation on another PC with a working gContactSync as it was set up way before this problem. Anyone know if there's a way to get the gContactSync config from the working TB installation and recreate on the non-working one? Would recreating the right config values work?

[2020-04-15 20:59] paraschas commented on #153
@Salubritas if the two Thunderbird installations are syncing with the same account this is a great idea. The `gcontactsync` directory inside the Thunderbird profile directory holds a `preferences_backups` directory that seems promising.

[2020-04-16 08:56] Salubritas commented on #153
Thanks for the tip. Unfortunately `preferences_backups` is empty on both machines.

[2020-04-16 16:59] mvastola commented on #153
So if anyone is interested (including but not limited to @jdgeenen) I implemented a temporary workaround for myself in a fork at https://github.com/mvastola/gcontactsync.

Basically, I just made a few small tweaks to allow using your own custom Google Developer Project, which doesn't have the verification requirement if you use it for your own account (or your G Apps domain).

Here are the instruc

[2020-04-16 18:08] Salubritas commented on #153
Thanks Mike, nice workaround. Personally I am using gContactSync to sync one standard Google account and one G Suite (Apps) account... so I guess this would require 2 x Google Projects and extensions, or more tweaks to shoehorn two IDs etc. into one extension!

Has anyone tried dropping an email to @jdgeenan? I guess he doesn't have time to do the work but maybe there is some way we can help. gCon

[2020-04-16 19:28] mvastola commented on #153
@Salubritas, that's interesting and also really odd. This provider uses [global constants](https://github.com/kewisch/gdata-provider/blob/e97caf48f93f80864a113f2e0367c2a8bc96ada6/src/modules/gdataSession.jsm#L166) named `OAUTH_CLIENT_ID` and `OAUTH_CLIENT_SECRET` which it uses to handle OAuth.

I'm not entirely sure how it has access to those since this provider was (but is no longer) a part of Th

[2020-04-16 20:37] hargut commented on #153
Tbsync and the related Provider for CalDav and CardDav does work.

The Google calendar provider is functional and it looks like Cardbook could soon be working again.

For now those options could help to overcome the current situation.

[2020-04-16 20:45] mvastola commented on #153
@hargut, not familiar with Cardbook. Is it supposed to work with Google Contacts?

@Salubritas, I actually figured out how to elegantly hook in to the native credentials (without hard coding them) and made [another branch on my fork](https://github.com/mvastola/gcontactsync/blob/29d550e56d14c79f13fc74e7cb186a1a5ce3bef8/src/content/gdata.js#L40) to test. It doesn't work though because Mozilla hasn'

[2020-04-16 22:54] mvastola commented on #153
Update: I just bit the bullet and applied for the Google thing. Still not looking to maintain this though. If it's approved I'll just make a PR with the new credentials. I'll keep you guys posted. No idea how long it'll take.

[2020-04-17 09:25] Salubritas commented on #153
I've installed TbSync and the related provider and it seems to be working well.

I searched for a while and never found this extension! Searching TB add-ons for "google calendar", "google contacts" and "google address book" does not show it prominently.

I think if TB bumped "featured" extensions to the top of search results it would make a big difference. Plus TbSync could do with a more detailed

[2020-04-17 15:20] hargut commented on #153
@mvastola Cardbook currently has the same issue with the Google connection, but its developer is already trying to get that fixed by registering the id properly. Up till now Cardbook is my favorite, but I've currently also installed TbSync as it get's the job done right now.

[2020-04-17 19:47] paraschas commented on #153
Thank you @mvastola for taking the initiative! Looking forward to hear the good news when the process by Google is complete!

[2020-04-26 12:46] netdragonboberb commented on #103
The workaround of manual adding is clunky. A sync would still be superior.

[2020-04-26 23:05] thematicmania commented on #148
I have tried disabling Windows Defender real-time protection and changing the dom.max_* settings, but I cannot sync more than 1200 contacts (with photos).

[2020-04-27 21:18] Bastien59960 commented on #148
Same here, it's dowloading about 1200 contacts and freeze, with windows
defender off, and also with windows defender on and exclude path and
process...

Bastien

Le 26/04/2020 à 18:05, thematicmania a écrit :

[2020-05-05 15:47] marcogaio opened #155 "The oAuth2 logon say 'not verified by Google'..."
The plugin does not work anymore.

When i try to logon, OAuth2 appear, i can insert user and password but after then i got in OAuth2 screen:
 Funzionalità Accedi con Google temporaneamente disattivata per questa app
 Questa app non è stata ancora verificata da Google e non può quindi usare la funzione Accedi con Google.

roughly translated from Italian:
 Feature Google Access temporarly disabled f

[2020-05-10 20:13] PiPo-Sido opened #156 "Not all contacts sync betwin google and thunderbird 68.8.0"
Since i restart using thunderbird since this month, i also re-installed this great add-on, there is only 1 issue. It is not syncing all of my Google contacts.

In my browser my contact list is 1260 contacts, in thunderbird it only shows 760. I have try to remove the add-on, clear the cache folder of the add-on and restarted thunderbird. Then re-installed the add-on and add my account again, then i

[2020-05-12 17:28] ronmauer opened #157 "Contacts don't sync for Google"
**Describe the bug**
Contacts don't sync to Google. I have the settings to Complete(both Google and your client are updated) I been living with it by going to Google when I need to update any contact. Then it will update Thunderbird contacts but if I update Thunderbird contacts it doesn't update Google contacts.
A clear and concise description of what the bug is.

**To Reproduce**
Steps to reprodu

[2020-05-12 19:19] KrasheninnikovMaxim commented on #148
To exclude Windows Defender, add a folder with logs (C:\Users\<User name>\AppData\Roaming\Thunderbird\Profiles\<Profile name>\gcontactsync).
Or turn off the logs in the Prefernces gContactSync.

[2020-05-13 03:36] KrasheninnikovMaxim commented on #152
Add the log folder (C:\Users\ "User name" \AppData\Roaming\Thunderbird\Profiles\ "Profile name" \gcontactsync) to Windows Defender exceptions.
Or turn off the logs in the Prefernces gContactSync.

[2020-05-13 23:20] AJCxZ0 commented on #155
Confirmed with Thunderbird 68.7.0 + gContactSync 3.1.7 and long-existing connection to my @gmail.com account, each upgraded multiple times over the years since setup.

From Address Book, right click @gmail.com book,

1. Select Sync Now
Pop-up window **gContactSync Warning** warns,
[code]
2. Click [OK]
Window **gContactSync Refresh Token** opens with sign-in prompt.
3. Provide Email, password and 2

[2020-05-14 02:35] samsong commented on #156
Same for me today GContact sync asked to delete around 1500 contacts. I said OK.
After that I notice contacts missing. I reset from server but only MAX 1500 of 2400 contacts sync.

I have logging disabled as previous suggestion. It was working fine until this week.
Any changes from Google contact API?

[2020-05-14 02:43] samsong commented on #148
Since today (14 May 2020) mine is stuck at exactly 1500 contacts then stops. Tried 5 times reset.

I did dom.max settings months ago. not a fix
I tried disable windows defender totally & close/reopen. Still 1500 max.

I think Google API has changed their security maybe???

[2020-05-14 02:44] samsong commented on #154
I think this is the bug causing everybody to not sync now.

[2020-05-14 07:07] martinsydsin commented on #148
Same issue as Samsong. 841 contacts deleted and only synching exactly 1500. Running TB 60.0.1 and gContactSync 2.1.13. Unlike my other machine which is updated to the release channel this combination worked perfectly fine up to now.
Obviously google has changed something to break the add-on, I will leave this for now and report back in case it gets fixed.

[2020-05-14 07:08] samsong commented on #148
Now you said that I think is confirmed. Google is blocking / setting a rate limit on API usage.
Hopefully developer can find the problem & resolve!

[2020-05-14 07:32] lucas-berlus commented on #148
Same here with two google accounts - the sync stops at 1.500 contacts.
Ubuntu 16.04 LTS, Thunderbird 68.7.0 (64-Bit), gContactSync  3.1.7

[2020-05-14 07:52] thematicmania commented on #148
Mine stops at 1500 as well on three combinations: TB 68 on Ubuntu and Windows, TB 60 on Windows. Reassured that it is not just me.

[2020-05-14 08:12] Mistral-75 commented on #148
Same here. I used the workaround suggested by KrasheninnikovMaxim, closed and restarted Thunderbird, gContactSync did synchronise and proposed me to delete 631 contacts on the Thunderbird side...

I have 2,214 contacts in the address book of my Google account and 2,131 in Thunderbird's address books. 2,131 - 631 = 1,500.

[2020-05-14 08:28] djzgib commented on #148
Same situation here. I have 3 different laptops, and all of them uses same Google contacts account with gContactSync. This morning, all 3 laprops proposed to delete 483 contacts. I was confused, until I saw latest posts here.

Definitely, there is 1500 contacts limit since today.

Anyone found a solution how to bypass this limit?

[2020-05-14 09:35] samsong commented on #148
The plugin hasn't been updated since March.
Probably a google limitation / change due to the exact nature 1500 & being randomly today.
Developer needs to check with google if the API is being limited

[2020-05-14 10:11] kevincolyer commented on #156
This has started happening for me also within the last week. I did a before and after contact dump from thunderbird so will try to see what the differences are...

[2020-05-14 13:04] dantehavershem commented on #148
Well some on OSX ... I have 1781 contacts.. and I got yesterday the message gSyn deletes locally 281 contacts! Google 0 .. now I tried several times to sync, stops at 1500. Same on my win7 laptop... 281 to delete, google 0, it is a nightmare to loose 300 business contacts...

[2020-05-14 16:08] JayBird707 commented on #148
Just happen to me yesterday lost 2300+ contacts from Thunderbird.  Gut instinct make me agree with Google API revision theroy.
Mint 19.3 tricia
x86_64 Linux 4.15.0-99-generic
ThunderBird 68.7.0 (64-bit)
gContactsync 3.1.7

[2020-05-14 17:43] colmode commented on #148
Same behavior here. sync wants to delete the majority of contacts from the local client.
We should file a new bug since this one is closed.

[2020-05-14 17:47] colmode commented on #156
See comments starting at https://github.com/jdgeenen/gcontactsync/issues/148#issuecomment-628434390

[2020-05-14 17:47] colmode commented on #148
See comments starting at https://github.com/jdgeenen/gcontactsync/issues/148#issuecomment-628434390

[2020-05-14 17:56] PiPo-Sido commented on #148
So the best is to make a export csv file from google contacts before this add-ons is deleting contacts?

[2020-05-14 17:59] colmode commented on #148
I just restored abook.mab and abook-1.mab from my backups the first time that the sync blew away my local contacts.

[2020-05-14 18:01] JayBird707 commented on #156
I lost 2300+ contacts yesterday after years of using gContactsync without a hitch.  Same think 1500 contact limit.

[2020-05-14 18:10] PiPo-Sido commented on #156
So the best thing is to dis-able the add-on untill there is a update?

[2020-05-14 18:10] JayBird707 commented on #148
I restored my abook also and turned off auto sync until this is resolved

[2020-05-14 18:13] JayBird707 commented on #148
I have backed up my Google Contacts, Exported my gContactSync contacts and saved my abook in a safe place.

[2020-05-14 18:16] dantehavershem commented on #148
Well it didn't touch my Google Contacts, somehow it is only removing my local contacts..
on all platforms the same behavior.

[2020-05-14 18:19] JayBird707 commented on #148
Agree it is the Google side that is driving deletion on the gContactSync side.

[2020-05-14 18:23] KrasheninnikovMaxim commented on #156
If there are fewer than 1500 contacts, you can use this:
https://github.com/jdgeenen/gcontactsync/issues/148#issuecomment-627541393

[2020-05-14 18:28] KrasheninnikovMaxim commented on #148
Perhaps Google stops syncing at 1500, and gContactSync interprets this as meaning that the rest should be deleted

[2020-05-15 17:10] Huku-Huku commented on #156
Two days ago I got the message if I am sure I want to delete 1663 accounts locally. On both computers (windows). Seems like 1500 is the limit, here is the summary.

*****Synchronization Summary*****
 - Not changed: 1500
 - Conflicted: 0	(changed in Thunderbird and Google)
Changes to Thunderbird (local):
 - Added: 0
 - Updated: 0
 - Removed: 1663
 - Ignored: 0	(due to read-only mode)
Changes to Goo

[2020-05-15 17:13] Huku-Huku commented on #148
Here is the new bug related to this issue:
https://github.com/jdgeenen/gcontactsync/issues/156

[2020-05-15 17:15] dantehavershem commented on #156
Same here in two macbooks, one iMAC and one Win7-64 system. All (1) came up with the same message  gSync has to delete 281 contacts from thunderbird. I have 1781 in Google contacts

[2020-05-15 18:10] Mistral-75 commented on #156
Same here. gContactSync synchronised and proposed me to delete 631 contacts from Thunderbird. Fortunately, I refused and suspend the synchronisation.

Currently I have 2,214 contacts in the address book of my Google account and 2,131 in Thunderbird's address books. 2,131 - 631 = 1,500.

OS is Windows 10 version 1909 (18363.836)

[2020-05-15 18:24] Bastien59960 commented on #156
Same for me, ask to deleted over 600 contacts !

[2020-05-15 22:35] samsong commented on #156
Bug lodged @ google contacts API
https://issuetracker.google.com/u/1/issues/156666929

[2020-05-24 20:18] Bastien59960 commented on #156
DId anybody find a solution ?

[2020-05-25 09:48] kevincolyer commented on #156
Sadly no. I have moved to a different Add On: CardBook.

It replaces the addressbook with the Cardbooks own address book. This is not much of a problem. Quite a few fiddly options. But is syncs REALLY well with Google. I have three way syncing now. Very fast too.

I am sad to leave gcontact-sync - THANK YOU so much for the extension. I hope that maybe the two projects get merged!

Kevin

CardBookv

[2020-05-27 05:00] SteveS73 commented on #156
Running Thunderbird 60.9.1 with gContactsyn 2.1.13 (the reason is the latest Lightning isn't playing nice with the latest Thunderbird). OS: Windows 10 Pro 1909 build 18363.778

For a while now, I've been having all kinds of weird synching problems including "expired tokens". Today it "deleted" 1573 local  contacts saying they had been deleted from Google. It didn't ask for permission to delete, ei

[2020-05-27 09:43] Filgibson commented on #156
Good morning everyone. Using the same GContactSync component myself, I had the same problem. Google syncing has been limited to 1500 contacts. However, I have found a solution to bypass the problem. simply create different labels in your google account (for example divide them by letters of the alphabet or by type of contacts) and you're done. Each label will have 1500 synchronizable contacts. It

[2020-05-27 13:43] Filgibson commented on #156
see my post!!

[2020-05-27 13:56] dantehavershem commented on #156
to be honest I switched to cardbook ..  very easy to configure and has now problem with my  1800 contacts. works fast, easy and reliable

[2020-05-27 20:37] Bastien59960 commented on #156
Cardook firts install sync to 4338 contacts..   second syn down to 1538 contacts...

[2020-05-27 22:16] JayBird707 commented on #156
I finally loaded CardBook and it does not sync any distribution lists.  Anyone have a solution for this?

[2020-05-28 09:49] Filgibson commented on #156
SEE MY POST!!

[2020-05-28 09:49] Filgibson commented on #156
SEE MY POST

[2020-05-31 05:49] dkelley044 commented on #148
Code needs a re-write, google is now returning a max of 1500 contacts per page/request, then you have to use a next URI to retrieve subsequent page(s) of contacts.
Michael Adler just fixed this in his python contact sync script, here's a link to some more info:
https://stackoverflow.com/a/62054304/6492825

[2020-05-31 10:32] samsong commented on #156
Reference of a fix for a contact sync plugin
https://stackoverflow.com/a/62054304/6492825

Not sure how this can be implemented to the addon. Hope author checks this thread

[2020-06-02 23:49] Tripp339 commented on #152
I've got the same issue.  Not using Win Defender.  My cout stops at 1500 and will sync no further.  Frustrating.  Tried all of the above but nothing works.  I have about 2300+ contacts.  Running TB ver 68.xxx
 Also the records seem to load randomly.  Some transfer and some don't.

[2020-06-03 16:46] alexarnaud commented on #150
@jdgeenen Any news on this? Do you plan to support TB 78 (the next stable) at the end of this month/in July?

[2020-06-04 07:55] zanonmark commented on #156
Attached is a working patch to be applied against 3.1.7.

It works by:
a) modifying GHttpRequest.js, adding the start-index parameter (if available) in "getAll" and "getFromGroup" calls;
b) modifying Sync.js, particularly the getContacts() and sync2() methods, essentially retrieving the start-index suggestion from every Google response and sending another request to Google itself, recursively; als

[2020-06-06 03:00] samsong commented on #156
@zanonmark can you or someone build a forked version of contact sync with the patch?
Or advise how we can do it?

[2020-06-06 10:23] zanonmark commented on #156
@samsong The steps are:
* "Clone or download" the repository into a local directory on your pc;
* run `git apply` to apply the patch, which will modify those 2 files;
* run `./build.sh` to create the .xpi extension package to be installed in Thunderbird.

If you don't feel at home working with git, I'm attaching a patched version (it is called 3.1.7, but I should have called it 3.1.7.1 or the like

[2020-06-06 11:41] colmode commented on #156
Since you have the patch; how about starting a new pull request with that applied? That way the maintainer can review and merge it easily.

[2020-06-06 11:53] jdgeenen commented on #156
@zanonmark Thanks for the patch, and that undocumented preference.  I'll add that pref to the Preferences GUI in a separate issue.

I'll look into applying and testing these changes this weekend.

[2020-06-06 12:00] jdgeenen commented on #155
I'm working on domain verification.  I don't know what happened to my original request, but I resubmitted one last week and heard back with some additional steps.  Apparently I need to make a YouTube video demonstrating the process, so it may take some additional time.

[2020-06-06 16:53] zanonmark commented on #156
@colmode Thanks for the advice, I didn't know much about pull requests, so here's my first one.

@jdgeenen Thanks.

[2020-06-07 01:38] #156 closed

[2020-06-07 01:55] jdgeenen opened #159 "Remove Import Support"
Import has been severely restricted from Facebook and disabled from other sources.  It was also never fully tested.

[2020-06-07 02:18] jdgeenen commented on #156
@zanonmark Thanks!

I uploaded Version 3.2.0 with this fix to addons.thunderbird.net and pushed to the repo. Direct download link: https://github.com/jdgeenen/gcontactsync/raw/master/downloads/gContactSync-3.2.0.xpi

[2020-06-07 02:23] jdgeenen opened #160 "Add DOM worker timeout pref to Preferences GUI"
Add dom.worker.canceling.timeoutMilliseconds to options.xul.  gContactSync runs more slowly in TB 67+, and this undocumented preference is causing gContactSync to stop executing.

This will require a localization update.
Mentioned by @zanonmark in Issue #156 (https://github.com/jdgeenen/gcontactsync/issues/156#issuecomment-638675987)

[2020-06-07 03:41] samsong commented on #156
Confirm issue fixed. 2968 contacts synced.

@jdgeenen Thunderbird addon repository not updated yet, still 3.17
I downloaded & installed XPI manually

Thanks

[2020-06-07 08:57] zanonmark commented on #156
Thanks for the new release!

MZ

[2020-06-07 21:43] SteveS73 commented on #160
Downloaded and installed 3.2.0 and am still getting strange syncing behaviors with Gmail contacts. I assume it may be the DOM worker timeout in the preferences but I don't see it in prefs. Where's that option located and what's its description in the GUI? Should it be set to 300000ms as mentioned in #156?

[2020-06-08 15:21] Bastien59960 commented on #160
Same here, still not synchronize all contacts with the update.

[2020-06-09 08:29] martinsydsin opened #161 "Mailing List sync not Saved and therefore New Mailing List members don't synchronize to Google Contacts"
It's great to have GContactSync working again under TB 68! Thank you to everyone who has contributed to getting this great add-on back to life!

I noticed that GCS seems to ignore new members of mailing lists when syncing to Google Contacts.

**To Reproduce**
Add an existing contact to a TB Address book mailing list.
Sync
Sync log shows no updates

Upon checking the account details I noticed that

[2020-06-09 17:27] martinsydsin commented on #161
Brief update

After some more testing I found that deletions from mailing lists sync to Google even though the non-standard groups don't show up in the Accounts Drop down list.

Adding contacts to a  mailing list does not trigger an update though. Any sync after a contact has been added to a mailing list shows 0 Updates.

[2020-06-10 05:36] martinsydsin commented on #161
Further update after some more testing
Deleting contacts from mailing triggers an update. But the actual update only occurs if the contact to be deleted from the mailing list has a email address in Google. If the email address in the contact is a "generated" email address if will not remove the label in Google.

[2020-06-14 10:29] zanonmark commented on #160
@SteveS73, @Bastien59960 The option is located "under the hood", which means you have to:
a) open Thunderbird's Preferences > Advanced > Config Editor;
b) search for `dom.worker.canceling.timeoutMilliseconds`;
c) set it to a high value (e.g. 300000, which is 5 minutes).

The author will add a specific preference in the GUI, but this must be done by hand at the moment.

Hope it helps,
MZ

[2020-06-17 02:06] SteveS73 commented on #160
Thanks  @jdgeenen, @zanonmark - Version 3.2.0 plus this tweak seems to have resolved the issues for me. Now all 2868 contacts and all 39 Labels (Groups) sync as well.

[2020-06-21 12:51] mcgyver83 opened #162 "Sign in with Google temporarily disabled for this app"
Hi, since a month I had issue with gcontactsync.
I decided to remove and reinstall it and now I have this message:
Sign in with Google temporarily disabled for this app

I tried with 3.1.7 and thunderbird 68.9.0.

Any hints?

[2020-06-21 22:16] SuperSentient commented on #150
I agree. Are there any plans to support Thunderbird 78? Please support TB 78.

[2020-06-22 11:33] marcogaio commented on #155
Some news?

[2020-06-24 17:12] npalix commented on #162
Got the same issue on a fresh install, trying to use an app password.
It finally works with a normal 2-step authentication and the gContactSync app is now registered
at https://myaccount.google.com/u/1/permissions.

Check your "Third-party apps with account access" in the "Security" section of your Google account.

[2020-07-03 20:55] venthur opened #163 "Please support Thunderbird 78"
TB 78 is just around the corner and [betas are available for download](https://www.thunderbird.net/en-US/thunderbird/78.0beta/releasenotes/). It would be nice if this extension remains to be supported.

[2020-07-05 05:39] macintosh-p opened #164 "fails to sync with "offline" error & New Account error"
Firstly, I have used this Add-On for many years and very much appreciated the additional functionality.  Without it, Thunderbird, would not be be as attractive.  I use other Google products extensively.  Thank you Josh!

 **Describe the bug**
Two bugs, which maybe, probably are associated with one another.

I initially had issue with 1,500 contact limits so upgraded to GCS 3.2.0.  Now I have deepe

[2020-07-08 06:53] mcgyver83 commented on #162
No luck.
gcontactsync 3.1.7
![image](https://user-images.githubusercontent.com/3140780/86886992-30b7dd80-c0f8-11ea-989a-0554612a7e00.png)
despite it has access
![image](https://user-images.githubusercontent.com/3140780/86887046-44fbda80-c0f8-11ea-92d2-1a34c36e8424.png)

[2020-07-14 14:19] Krishna5907 commented on #148
Dear Can you Tell me how to use this Script to Fix Error
Mail me on Prashantsavaj3975@gmail.com

[2020-07-14 16:02] Krishna5907 commented on #148
Dear I had Done Same but nothing is happend. if you get any solution let me know on Prashantsvaj3975@gmail.com

[2020-07-14 16:22] Krishna5907 commented on #156
Excellent,

I had Synced 1553 Contacts in one Group

[2020-07-14 16:23] Krishna5907 commented on #148
I had Synced All My Contacts By update

https://github.com/jdgeenen/gcontactsync/raw/master/downloads/gContactSync-3.2.0.xpi

[2020-07-15 00:48] Bastien59960 opened #165 "Google Error 503"
See what i got all the time :

![01](https://user-images.githubusercontent.com/42418271/87490256-df817f80-c60a-11ea-8867-8b7d81d35915.jpg)

You extension is great, i really enjoy it !  I don't know why thunderbird don't have this features on native !
Please help me to solve the problem !

[2020-07-16 08:32] nortexoid commented on #163
Yes, please, especially because certain two-factor authentication only seems to work with Thunderbird 78, so using earlier versions is not an option for some.

[2020-07-17 14:28] Porkepix opened #166 "Allow to remove an Address Book"
**Is your feature request related to a problem? Please describe.**
Delete empty address books due to difficulties adding one.
But this can also be because we need to change the account to sync with.

**Describe the solution you'd like**
The ability to remove an address book.

**Describe alternatives you've considered**
Purge everything related to gcontactsync

**Additional context**
See screenshot

[2020-07-19 18:10] mzealey commented on #156
This works when installed manually, however 3.1.7 is still the latest version via the add-on store

[2020-08-12 21:22] SilverGreen93 commented on #163
I installed the lastest version from here in Thunderbird 78.1.1, it installed successfully, but I cannot find the gContactsSync menu so I cannot add an account. Is it still unsupported in Thunderbird 78? Or am I doing something wrong.
Thanks!

[2020-08-17 09:55] jmspar commented on #156
Many thanks, for this and for all the work before!
Hope this will get to the add-on store soon (but manual install worked, in the meanwhile).

[2020-08-23 15:01] laggarcia commented on #156
Any plans to roll this out to the Thunderbird add-on store?

[2020-09-12 17:33] zanonmark commented on #163
I think this extension should move to the MailExtension standard: [https://developer.thunderbird.net/add-ons/about-add-ons](https://developer.thunderbird.net/add-ons/about-add-ons)

MZ

[2020-09-14 02:21] BillH99999 commented on #163
Yes please.  This extension is indispensable for me (and many others I'm guessing).  Would really love to have it available for TB 78.
Thanks!
Bill

[2020-09-14 14:36] zanonmark commented on #163
It is for me, too.

However, I don't have any clue about where to start the conversion from, which looks like a rather complicated process: [https://developer.thunderbird.net/add-ons/updating/tb78](https://developer.thunderbird.net/add-ons/updating/tb78).
Basically, it seems that every part of the extension working with the TB interface has to be rewritten from scratch!

Luckily there seems to be

[2020-09-14 14:49] wsmwk commented on #163
Automatic updates for version 68 users will tested today.

[2020-09-15 06:30] jobisoft commented on #163
After I developed the migration guide mentioned in the comment [above](https://github.com/jdgeenen/gcontactsync/issues/163#issuecomment-692100572), I tried to reach out to Josh to inform him about that option and offered help during the migration. I think Josh is very busy at the moment with other things, as I have not received feedback.

I still offer my help, if someone wants to work on an updat

[2020-09-17 14:18] yorlik-too commented on #163
I hope the update will work with latest beta 81 also?

[2020-09-17 16:10] jobisoft commented on #163
If Firefox is not ripping out some stuff we need, then yes.

[2020-09-23 16:18] dgrunberg commented on #156
I have downloaded and installed 3.2.0 version, and when I sync (after removing local AB), I get only 1209 entries, my Google AB has 1887.  Is this the same issue or a different one?  Using TB 68.10.0 on Linux.

[2020-09-24 03:52] Krishna5907 commented on #156
Dear,

As i had old version of gcontact sync. I just overwrite it with 3.2.0 & now
able to download all 1500 + contacts, but do not forget to clear in setting
of logging etc.

I

On Wed 23 Sep, 2020, 21:49 dgrunberg, <notifications@github.com> wrote:

[2020-09-26 16:24] jpmjpmjpm opened #167 "Doesn't sync all contacts from Google account"
**Describe the bug**
From 1708 contacts in my Google account only 1278 are synchronized by gContactSync

**To Reproduce**
1. Look a Google contacts the number of contacts
2. Click on gContactSync + sync memu
3. Look at the gContactSync notification window to see the number of contact synchronized
4. In particular, the contact "RAPHAEL" which has an email address in Google contacts is missing

**Ex

[2020-09-27 22:56] jeffneedle opened #168 "Some contacts not syncing"
Using Puppy Linux.  Thunderbird 68.10.0, gcontactsync (not sure of version, but latest available for my distro).

This behavior is consistent between distros.  Not all contacts are syncing.  I've unchecked the box that says skip contacts without email addresses.  It still skips only certain entries from my Google address book.

Are others having the same problem?  Is there a fix?  Thanks.

[2020-09-28 08:25] natxosorolla commented on #148
It worked to me (Ubuntu). I had a limit of 1500 contacts. With this update https://github.com/jdgeenen/gcontactsync/raw/master/downloads/gContactSync-3.2.0.xpi (the web has until 3.1.7 version)

[2020-10-02 00:21] lionslair commented on #163
Happy to help or test. I am a web application developer but happy to give this a go in contributing some updates.
Let me know what I need to setup some sort of environment

[2020-10-02 05:57] peci1 commented on #163
You don't need any special kind of environment. Just a text editor and ZIP archive compressing utility. Do your changes, zip the whole extension folder, rename the archive to XPI and install.

[2020-10-02 06:00] jobisoft commented on #163
To test development builds, you do not even need to zip. Just select "debug add-ons" from the gear icon in the add-on manager and then select "install temporary add-on" and select the `manifest.json` file of your add-on source directory. After you have made changes to the source, just hit "reload add-on".

No need to pack a zip file, no need to restart TB78.

[2020-10-02 06:19] peci1 commented on #163
I was also working with "debug addons". But it seems to me that you have to have a correct unloading/uninstall procedure first for it to be usable. If my addon can't undo all the changes it did (i.e. when I'm developing the unload procedure), then the reloading did not work for me...

[2020-10-02 06:34] jobisoft commented on #163
That is true indeed. But then you would need to restart Thunderbird anyhow. You can still skip the zip step using the debug option. But once you have that unloading going, the development process is a lot faster.

[2020-10-02 06:39] jobisoft commented on #163
Just to point that out: The WL API introduced in this thread, takes care of 99% of the unloading stuff.

[2020-10-02 06:41] peci1 commented on #163
Not my 1% though :-D Anyways, it is a great help :)

[2020-10-02 06:42] jobisoft commented on #163
I am paid by TB to help. So use me :-) john-at-thunderbird.net

[2020-10-02 06:43] jaymzh commented on #163
@lionslair (and anyone else who ends up contributing to getting this working in TB78), I'll happily buy you a case of your favorite beer (or something similar)! As an opensource developer myself (who is way too behind on too many projects), I'm aware it can be a thankless job. I don't have the time to do the work myself here but I'm happy to test builds and buy some thank-you beers/coffees/whiskey

[2020-10-03 22:21] Phazako commented on #152
Hope this helps-
This problem is still running with 68.12.1(32bit) and gContactSync 3.2.0.  Running on Win10 Pro 1909

- Total of 1323 contacts in gMail so this is not the >1500 contact issue.
- Performing a "Reset (Replace from Server)" only pulls between min 456 and max 589 contacts (on my machine) before stopping with no Notification panel appearing - the actual pulled contact count varies on e

[2020-10-04 07:07] lionslair commented on #163
As a temporary work around the other night I tried this. I use Pop OS which is Ubuntu.
I tried adding my google account to the system. Then using the system address book. That all worked.
Thought then I could access the system address book from Thunderbird but no option for that either. Was surprised. The address book appear to be all within thunderbird only.

Will have a read of some of the links

[2020-10-14 17:14] Arman-2 opened #169 "I don't see any action of gContactSync"
**Describe the bug**
gContactSync does not seem to work at all.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to '...'
2. Click on '....'
3. Scroll down to '....'
4. See error

**Expected behavior**
A clear and concise description of what you expected to happen.

**Screenshots**
If applicable, add screenshots to help explain your problem.

**Desktop (please complete the following inform

[2020-10-21 16:07] StephenMilner opened #170 "Support for TB 78.3.3"
The latest release of TB 78.3.3 has rendered the latest version of gContactSync (3.17 and also 3.20) incompatible.

Please could you make the necessary changes to allow the add-on to work?

I don't understand enough about the manifest.json file - The old RDF file used to have a Max Version number in there and I'd edit to test to see what would happen.

I'm hopeful this is a minor tweak and not a s

[2020-10-23 09:04] Anon9475 commented on #142
Similar thread "Your authentication token from Google has expired" here: https://github.com/gcontactsync/gcontactsync/issues/1

[2020-10-23 09:09] yimir0 commented on #170
I understand how annoying it can be to constantly get back to work every time there is an update, but I would like too this add-on could be made compatible with Thunderbird version 78 and later.

[2020-10-25 09:43] jpcasta commented on #163
It seems gcontactsync is the only module available to synchronise TB contacts with Google contacts and it is a main function we need in a mobility world.

@jobisoft, is there a reason why Thunderbird manages contacts and does not provide any way to synchronise them with Google contacts or any other available third party contacts?

It is the only thing I need to update TB to V78.x
Thanks

[2020-10-25 15:24] BillH99999 commented on #163
There are two other add-ons (at least) that will do this. They are TBSync and CardBook.  They sync contacts just fine.  They do not sync mailing lists which is why I hope gContactSync does get updated at some point.

[2020-10-25 18:04] jpcasta commented on #163
Thanks! I did not find them and I did not see them in the different comments.
I will look at how it works.

[2020-10-25 18:22] BillH99999 commented on #163
@jpcasta

You are welcome.  I've been using TBSync as a (hopefully) temporary replacement for gContractSync.  It uses the standard TB address book and is a bit easier to use (in my opinion).  You can create categories (which are kind of like mailing lists), but they don't sync to gMail.  Cardbook is more powerful.  It creates its own address book.  It also has categories, but if you sync to gMail

[2020-10-28 12:23] Arman-2 commented on #169
Sorry, the add-in works! But it did not because the settings window was still open.

It would be nice if the sync results are displayed in more detail. E.g. 'From Google: 12 new contacts imported, 5 contacts updated' etc.

Regards, Arman

[2020-10-28 12:23] #169 closed, assigned to jdgeenen

[2020-11-01 14:54] vpapanik commented on #163
CardBook syncs mailing lists between Thunderbirds, if you change KIND to GROUP in card options. However, lists appear as blank entries in google contacts. On the other side, gContactSync syncs lists using standard TB AddressBook and transforms them in labels in google contacts.

[2020-11-01 16:16] yorlik-too commented on #163
Had hopes for CardBook while gContactsync gets updated, but it only works on older versions of TB;  if you want beta it won't work (ver 83)

[2020-11-01 16:18] vpapanik commented on #163
Ι use 78.4

[2020-11-01 18:52] jaymzh commented on #163
Thanks for the suggestions! tbsync does what I need, but I didn't find it when I was looking for alternatives to gcontactsync.

[2020-11-01 18:59] jpcasta commented on #163
TBsync does the job for me as well
Thanks

[2020-11-03 08:09] zanonmark commented on #168
Hi,

yes, the bug was fixed. You need to download the latest version (3.2.0) manually.

Thanks,
MZ

[2020-11-03 08:10] zanonmark commented on #167
Hi,

the bug was fixed. You need to download the latest version (3.2.0) manually.

Thanks,
MZ

[2020-11-13 10:52] jpmjpmjpm commented on #167
Thanks for your support.

Really appreciated!

[2020-11-13 10:52] #167 closed, assigned to jdgeenen

[2020-11-19 03:12] ghost commented on #170
Try another add-on - [CardBook](https://addons.thunderbird.net/en-US/thunderbird/addon/cardbook/). It's partial sollution (for example it lacks syhcnronization of entries with multiple recipients) but it's better than nothing.

[2020-12-02 21:05] Bagu commented on #163
TBsync doesn't work :
https://addons.thunderbird.net/fr/thunderbird/addon/tbsync/?src=search
"This Add-on does not support Goolge"

[2020-12-08 16:21] zanonmark commented on #170
Unfortunately it seems that fixing this bug might required a considerable amount of work: there are some shortcuts, but in the long term many parts have probably to be rewritten.

CardBook, TbSync, ecc. - in other words: CardDAV plugins - work well, but they don't synchronize categories (aka labels), due to a bug in Google's CardDAV implementation. That's why this plugin was/is particularly useful

[2020-12-08 16:34] zanonmark commented on #163
The current situation - as far as I understood - is:
* CardBook: uses CardDAV, synchronizes contacts, does not synchronize lists due to a Google's bug, works in TB78;
* TbSync + Provider for CalDAV & CardDAV: same as CardBook;
* gContactSync: uses Google Contacts API, synchronizes contacts and lists, does not work in TB78.

As far as I understood, fixing gContactSync should require some work now u

[2020-12-08 16:37] Bagu commented on #163
IMO, Maybe the second solution will be the best, at least for the moment.

[2020-12-15 22:03] itsol4hc commented on #170
Is there any addon (apart of this) which can synchronize google contact groups (labels)? I was looking really hard and I was not able to find any which works with TB 78+that is why I find this addon quite indispensable.  It would by really great if it could work again...

[2020-12-15 22:10] BillH99999 commented on #170
Not that I've been able to find.  As zanonmark mentioned, Cardbook syncs contacts but not labels.  TBSync no longer supports use with Google, although you can get it to work with options the author mentions.  TBSync also only syncs contacts, but not labels.

Unfortunately, it looks like gContactSync may be dead.  :-(

[2020-12-15 22:19] BillH99999 commented on #163
I have switched to Cardbook which is working well for me.  I still hope that someday gContactSync will rise from the dead.

[2021-01-05 15:42] zanonmark commented on #170
Unfortunately, there's currently no way to:
* use TB 78,
* and synchronize with Google Contacts,
* keeping the labels (groups).

I'm considering writing a TBSync plugin by myself to "talk" the Google Person API protocol (as the Google Contacts API will be dismissed in a few months from now): see https://github.com/jdgeenen/gcontactsync/issues/163#issuecomment-740745571.
This seems like a huge amou

[2021-01-05 15:43] zanonmark commented on #163
I'm considering writing that TBSync plugin to use the Google People API.
Any help please? :)

MZ

[2021-01-05 15:45] Bagu commented on #163
I can help to french translation only :S

[2021-01-05 15:56] DwightI commented on #163
I want to help, but not sure I have time. Do you have a short-ish task in mind I can test myself with? I will probably be better applied to back-end communications than to user interface tasks

[2021-01-05 16:59] zanonmark commented on #163
@DwightI: same situation as me :)

Frankly, I have very little time too, and I'm still hoping that Google fixes https://issuetracker.google.com/issues/36761530, which would allow everyone to just use a standard CardDAV plugin (CardBook? TBSync with its plugin? etc).

Anyway, I wrote to @jobisoft who pointed me to study and fork https://github.com/etesync/EteSync-4-TbSync. That would probably be th

[2021-01-05 17:17] DwightI commented on #163
Thanks. I'll start with reading those links this evening (US-EST)

[2021-01-05 23:16] zanonmark commented on #163
@DwightI In a couple of hours I was just able to create the project, set the initial settings, login and retrieve my contacts (deleting or creating/updating would be quite simple as well).
So, the Google People API part is nearly trivial.

The hard part would be the Thunderbird UI and TbSync interface...

Thanks,
MZ

[2021-01-06 02:49] DwightI commented on #163
Setup the dev environment, ran a test build on existing code and started a new branch to work on. Starting to nibble on the conversion using the info at https://developer.thunderbird.net/add-ons/updating/tb78. I had to do some catch-up reading so not much progress yet, and I won't get a feel for the magnitude of the work tonight. I'll do a little more and then pick it up again tomorrow

[2021-01-06 07:22] jobisoft commented on #163
The etesync repo is working in TB78. No need to go thr the update process. All you have to do is replace "etesync" with google. I can do that, if you prepare a repo I can contribute to. I can give more pointers later on how to add actual code.

[2021-01-06 17:19] Chef8 commented on #163
My schedule is fairly open and flexible, and I'm happy to help in any way possible. I have some coding experience, but may need some guidance.

[2021-01-07 07:34] zanonmark commented on #163
Forked at https://github.com/zanonmark/GooglePeopleAPI-4-TbSync
Please tell me who to enable access for.

Thanks,
MZ

[2021-01-07 10:32] jobisoft commented on #163
You got a PR.

[2021-01-07 17:51] zanonmark commented on #163
Thanks @jobisoft for Your advices.

The current repository is https://github.com/zanonmark/Google-4-TbSync.

I hope I'm working on it in the weeks to come.

MZ

[2021-01-07 17:53] yorlik-too commented on #163
We all appreciate  you guys stepping up to do this!

Please allow it to also work with the latest TB, ver 85.0B2

On 1/7/2021 12:51 PM, Marco Zanon wrote:

--

[2021-01-08 20:03] zanonmark commented on #163
Thanks! The work is ongoing, but it'll be a long run unfortunately.
I'll do my best to make it work with the latest TB too.

Thanks,
MZ

[2021-01-19 08:22] zanonmark commented on #163
Just to let everyone know that I completed the UI and authentication parts for Google-4-TbSync, now "only" the synchronization is missing.
So, chances are that in a few weeks we may have an early alpha...

MZ

[2021-02-11 13:21] zanonmark commented on #163
Ongoing progress for Google-4-TbSync: contact synchronization is nearly implemented.

MZ

[2021-02-17 12:42] Cartographic commented on #163
Dear Mark, any progress to your project ? I am still stuck in the TB 78 incompatibility to gconatct sync ...
Alternative like cardbook are deeply poor. TBsync indeed doesn't support google contact at all.

[2021-02-17 12:46] venthur commented on #163
Update to my initial issue, [Thunderbird 78.7.1](https://www.thunderbird.net/en-US/thunderbird/78.7.1/releasenotes/?uri=/thunderbird/releasenotes/&locale=en-US&version=78.7.1&channel=default&os=Linux&buildid=20210203182138) supports natively CardDav and Google contacts. For now, you do have to set `mail.addr_book.carddav.enabled` in the config editor to make it work though, and use www​.googleapis

[2021-02-17 14:21] Cartographic commented on #163
may you explain better how to get it working ?

[2021-02-17 14:23] venthur commented on #163
1. Update to TB >= 78.7.1
2. set `mail.addr_book.carddav.enabled` in the config editor
3. Address Book > File > New > CardDAV Address Book and enter www​.googleapis​.com as URL

[2021-02-17 14:49] yorlik-too commented on #163
Thanks!  Any chance you let it work on beta's too?  I am on 86.0b3 (64-bit)...    Waste of my time to try it?

[2021-02-17 15:05] Bagu commented on #163
It seem it dosen't support groups.

[2021-02-17 15:21] jobisoft commented on #163
Thunderbird uses CardDAV to access google contacts and the google CardDAV implementations (on the google side) is half backed crap and does not allow to access the groups. That is why TbSync (CardDAV) and CardBook (CardDAV) cannot access them either. gContactSync used a google API which is why it could access the groups.

Googles policy to not support open standards is also the reason why Thunderb

[2021-02-17 18:22] Cartographic commented on #163
it doesn't work, no contact downloaded at all

[2021-02-18 18:57] zanonmark commented on #163
Update for Google-4-TbSync.

What already works perfectly:
* creating local contacts (Google -> Thunderbird);
* updating local contacts (Google -> Thunderbird).

What will be working in a few days:
* deleting local contacts (Google -> Thunderbird);
* creating, updating, deleting remote contacts (Thunderbird -> Google).

What will be working in a few weeks:
* creating, updating, deleting local grou

[2021-02-18 19:52] yorlik-too commented on #163
MZ,  FANTASTIC!  Many of us silent majority out here have been waiting for your rewrite!

I still have my pet question:  Will you let it work on beta's too? I am on 86.0b3 (64-bit)...

I suspect I am not alone in wanting to help reward you for your outstanding work on this.  Please list a paypal address we can offer contributions to!

[2021-02-18 20:03] jobisoft commented on #163
TbSync will work with the next ESR, I cannot promise Beta.

[2021-02-18 20:29] yorlik-too commented on #163
Can the updates at least be coded to allow the beta's to test them?

[2021-02-19 14:44] Chef8 commented on #163
Excellent! Thank you for the effort on  getting this to work. I am available to help and have some tech skills, but I think maybe too much of a learning curve for me to be effective. Please lmk if there is something I can do. I am also happy to contribute, so please post a link for donations.

[2021-02-22 07:09] Albrt2901 commented on #163
I can't get google4tbsync to work. At the time of synchronization it gives the following error: servercontac.names is undefined. What is the problem?

[2021-02-22 07:18] jobisoft commented on #163
I think you should ask that in an issue in the google4tbsync repo, not here. And I do not think he has released a version to the public yet. So better wait till he announced something regarding a release.

[2021-03-03 21:54] tonyrein commented on #170
Zanonmark: How can I help? I have some spare time and some rudimentary software development skills (2015 IT/Development degree, but I've never used it professionally -- I know some Python, JS, C# and can read some C or C++.)

[2021-03-06 18:04] zanonmark commented on #163
Update for Google-4-TbSync (I think this should be the last one here :)
* Contacts are synchronized, both Google-to-Thunderbird and Thunderbird-to-Google.
* Contact groups are synchronized, both Google-to-Thunderbird and Thunderbird-to-Google.
* Contact group members are only Google-to-Thunderbird synchronized. The opposite is not currently possible, and will be implemented when TbSync will be rew

[2021-03-06 18:16] jobisoft commented on #163
Do you plan to release this version to ATN, so i can permalink it in TbSync?

[2021-03-08 13:27] zanonmark commented on #163
Frankly no, I would rather wait for the "final" version to be ready...

MZ

[2021-03-08 14:31] garretwilson commented on #163
Will this plugin have an option to set the Google side to "read-only", that is, permit only Google-to-Thunderbird updating and prevent _any_ modification of the Google side?

Synchronization is a very tricky thing, and this will have a lot of new, untested code. The last thing I want is for a mistake in a line of code to delete all my Google contacts, or accidentally shuffle the telephone numbers,

[2021-03-09 19:04] saleslogistix commented on #163
Sorry to be a complete nuub, but I'm unable to find the xpi file for Google-4-TbSync.
I'm happy to accept the risk of using it...but where do I get it?

[2021-03-12 14:36] zanonmark commented on #163
Yes, it's in my TODO list - but only after the migration to the new TbSync-WebExtension release, because I will have to rewrite part of the code I already wrote.
(To put a date: late April?)

I agree with You.
Additionally, Google has a far richer addressbook structure than Thunderbird and some fields / information simply cannot be properly synchronized.

That's why I'm only modifying the contacts

[2021-03-12 14:40] zanonmark commented on #163
There's no official release now, and no XPI file.

All You have to do is [download the main.zip file](https://github.com/zanonmark/Google-4-TbSync/archive/main.zip), extract it wherever You want and then do a temporary import from Thunderbird: Tools > Add-ons > cog icon > Debug add-ons > Load temporary add-on.

After the migration to the new platform (late April?) I will obviously release in ATN.

[2021-03-12 15:59] garretwilson commented on #163
Wait, what? You are modifying contacts on the Google side even for an initial from-scratch import into Thunderbird!?? Please tell me I misunderstood what you are saying.

[2021-03-12 16:03] jobisoft commented on #163
No, he said he only makes changes to the contacts on the google side (using the browser or his google phone or any other native google client) and not in TB. He only syncs from Google to TB but does not back.

[2021-03-12 18:44] zanonmark commented on #163
@garretwilson No, I meant what @jobisoft kindly reported :)
Apologies if I wasn't clear.

I will support a bi-directional synchronization as far as possible, but the two addressbooks are quite different, so my final advice will be to edit your contacts (manually, via browser and/or smartphone) on the Google side and then do a read-only synchronization to Thunderbird.
This is what I'm currently doi

[2021-03-12 18:45] zanonmark commented on #163
@garretwilson No, I meant what @jobisoft kindly reported :)
Apologies if I wasn't clear.

I will support a bi-directional synchronization as far as possible, but the two addressbooks are quite different, so my final advice will be to edit your contacts (manually, via browser and/or smartphone) on the Google side and then do a read-only synchronization to Thunderbird.
This is what I'm currently doi

[2021-03-13 15:58] saleslogistix commented on #163
Thank YOU for your fine work here!

But again...being a nuub...once I go to add-temporary-add-on...which file do I actually load?  I'm going to wildly assume manifest.json, and it does appear to load.  But I see no new menu items or ways to actually interact with the sync function.

[2021-03-13 16:55] zanonmark commented on #163
@saleslogistix Yes, manifest.json may be ok.

You then open Tools > TbSync (You must have TbSync installed obviously) and then add a new Google account.
The credentials must be generated following the [notes here](https://github.com/zanonmark/Google-4-TbSync/blob/main/README.md#about-google-api-console-project-credentials).

Thanks,
MZ

[2021-03-13 18:36] saleslogistix commented on #163
The Tools menu doesn't have a TbSync menu item when I debug-install the plugin.  Am I missing a step??
Running TB 78.8.1 on Win10

[2021-03-14 09:23] zanonmark commented on #163
It's in Tools > Synchronization Settings (TbSync).
Did you install and enable TbSync first?

MZ

[2021-03-14 16:51] garretwilson commented on #163
Oh, you mean you personally manually modify contacts on Google _before_ syncing. I thought you meant that the new syncing code you wrote modified the contacts on Google just to get them into a format that Thunderbird would recognize. Whew! Thanks @jobisoft and @zanonmark for clarifying.

[2021-03-14 17:49] saleslogistix commented on #163
Oh, no. Hadn't done that. Did that now and it works!

One question, though:  It looks like the plugin creates a _**new**_ addressbook in Tbird for each "account" to be synched -- which is fine. In the gcontactsync days, you could synchronize the Personal Address Book. Is this architecturally possible now, or is "only new addressbooks can be synched" the strategy for the future?

Thanks in advance

[2021-03-14 18:35] jobisoft commented on #163
That is a design decision and TbSync will not change that. It connects remote address books to Thunderbird, so you can use remote addressbooks (like google) also in TB. It will not push arbitrary local address books to remote servers. You may move/copy local contacts into the google address book to have those available on all other devices as well. However, I strongly suggest to use the import fun

[2021-03-17 16:05] yorlik-too commented on #163
Any chance it can work with beta's?  I am on 87.0B2

and trying to install manifest.json nets me:

There was an error during the temporary add-on installation.
Error details

Add-on google-4-tbsync@marcozanon.com is not compatible with application version. add-on minVersion: 78.0. add-on maxVersion: 78.*.

[2021-03-17 16:10] yorlik-too commented on #163
Sorry, I would delete my comment above but it wont delete or edit.  I edited manifest to allow it to install.

[2021-03-17 16:53] zanonmark commented on #163
At the moment the add-on is only working on TB78.
When the new TbSync is ready, I will port the code too and, at that time, more recent versions will probably be supported too.

Thanks,
MZ

[2021-03-17 17:06] yorlik-too commented on #163
Is there any reason this would not work with beta version 82.0B2?  Don't they both use the new google address book method?  By changing to:

 "strict_min_version": "78.0",
 "strict_max_version": "89.*"

It loaded without faults.  Now I am trying to figure out how to find a similar .zip package to modify manifest.json on the TBSync so I can install it!  I only have the old non working gSync on my p

[2021-03-18 16:12] zanonmark commented on #163
I don't know precisely, I just decided to stick with the TbSync defaults because I use a lot of API calls from it.

Happy to hear everything is working anyway.

Rest assured the final version will work with the latest Thunderbird too...

Thanks,
MZ

[2021-03-29 10:18] zanonmark commented on #163
Just to let you know that I just extended Google-4-TbSync to implement the 'Use fake email addresses' feature (to assign a fake email to email-less contacts, so they can still be added to mailing lists) and the 'Read-only mode' one (Google-to-Thunderbird synchronization only).

MZ

[2021-03-30 23:50] saleslogistix commented on #163
HI Marco,
I've successfully used the current version of TB-sync to work with three separate google email accounts going into three separate addressbooks in TBird.  Cool.  People appear to have populated and updated just fine.  In two of the accounts, the sync also properly populated the "mailing lists" (in TB) from the "labels" (in Google.  Great.
However, in the third account, it populated only t

[2021-04-03 14:31] zanonmark commented on #163
Hi,

there's no limit - at least I didn't set any :)

The name shouldn't be confusing at all, as long as they're obviously different.

1) Is there any problem for You to write here the full names of all Your labels?
2) Was the "Include system contact groups" option enabled?

Thanks,
MZ

[2021-04-03 14:32] zanonmark commented on #163
Hi,

will You please open a specific ticket on https://github.com/zanonmark/Google-4-TbSync, so that I can handle it better.

Thanks,
MZ

[2021-04-12 12:40] zanonmark commented on #163
Just to let everybody know that I released an official .xpi package, currently at version 0.1.2: it will be available shortly on addons.thunderbird.net or via the classic Addons menu item in Thunderbird.

I think this will be my last message here. Any further discussion, bug reports, etc. on https://github.com/zanonmark/Google-4-TbSync please.

Thanks,
MZ

[2021-05-31 01:05] mkraemer0 opened #171 "Deleted"

[2021-05-31 01:16] #171 closed, assigned to jdgeenen

[2021-07-02 12:48] Krishna5907 commented on #154
I am Also Facing Same Problem in Thunderbird 68.12.0 , Installed at My Office 6 PC and home PC too. How to Solve this Problem. Even Mozilla team is not able to make or add this type of Contact Sync Default in their System, So User Will not be Suffered and not loose the interest in Thunderbird.

[2021-07-12 19:46] stevedonato opened #172 "Version 78.11.0 ten times slower than it was 2 years ago responding to a mouse click"
It is like they rewrote it in Interpreted Basic or COBOL. Disgraceful performance. I have to click 5-10 times to get it to respond to a mouse click. Even to just open an existing email.
Running Linux Mint 18.3 32GB Ram i7 CPU.
Right now I switched to Geary email client which provides instantaneous response. I may just give up on Thunderbird, sad it  use to be great.
I should have never upgraded Th

[2021-07-25 05:42] rcaspi commented on #142
I have this issue as well. Once I log into my Google account, I receive this message:

error 401: disabled_client

Sign in with Google temporarily disabled for this app. This app has not been verified yet by Google in order to use Google Sign In.

[2021-07-25 05:46] rcaspi commented on #142
I should add that I am using an older version, 2.1.13, since I am using version 60.9.1.of Thunderbird (because the newer versions are not compatible with some of my beloved add-ons).

[2021-10-18 19:25] francwalter commented on #162
I have the same issue since some weeks only.
In the security settings it is allowed since 2019, only now it makes problems.
The Add-On is one reason I stick with TB 68.
But if it really won't work i guess i have to update TB in the end ...
Edit: I think it could have stopped working already June 2021 because the Google Contacts API stopped working, see:
https://github.com/jdgeenen/gcontactsync/iss

[2021-10-21 06:00] mcgyver83 commented on #162
To be honest I did not found a solution.
I moved to a different extension. I think is not nice to write here the link, drop me a message @francwalter if you are interested.

[2021-10-21 06:26] francwalter commented on #162
@mcgyver83 yes I'm interested! But how could I drop you a message here, there is no way to drop private messages here?

[2021-10-21 07:45] mcgyver83 commented on #162
Ops.. you are right :(
Here the link for 1 day https://pastebin.com/GUw1SMdr

[2021-10-21 09:36] francwalter commented on #162
Ah, OK, I know this extension already :)
It's the normal replacement.
This extension here is dead anyway, so no mystery.
Thank anyway.

[2021-10-27 06:07] duhmel opened #173 "Did you ever fix the 503 error?"
I am still getting the 503 error when I try to sync with Google contacts.  I have seen people posting this problem on a number of forums with no suggestions on what to do.  I don't understand how anybody uses this unless there is a 'secret' solution.

[2021-11-03 23:45] Dirksche commented on #163
The latest Thunderbird version 91.3 has support for CardDAV, which can be used to synchronise your Google Address-book.

Just add a new CardDAV Adress-book and enter as server address:
https://www.googleapis.com/.well-known/carddav

[2021-11-04 00:00] BillH99999 commented on #163
@Dirksche

While that is true, my understanding is that TB 91.3 by itself can not sync address book mailing lists.

[2021-11-05 09:53] venthur commented on #163
I'm closing this bug as Thunderbird itself now supports synchronizing google contacts.

[2021-11-05 09:53] #163 closed, assigned to jdgeenen

[2021-11-05 15:29] BillH99999 commented on #163
Yes, but as I said above... TB does not support syncing address book groups (mailing lists).  gContactSync did sync them.  So native TB is not really doing the complete job.

[2021-11-05 18:20] jobisoft commented on #163
Does

https://addons.thunderbird.net/addon/google-4-tbsync/

help?

[2021-11-05 18:40] BillH99999 commented on #163
I think eventually.  As of now it doesn't support Thunderbird-to-Google creation / update / deletion of contact group members.  It sounds like he is waiting for a rewrite of TBSync.  At this time I am using Cardbook which will sync groups (mailing lists).

Bill